@charset "utf-8";
/* CSS Document */


.calculator_box{
   position:absolute;
   border:#000 0px solid;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   overflow:auto;

}

.calculator_box .close_btn{
   width:24px;
   font-size:22px;
   margin-right:5px;
}
.calculator_box .close_btn:hover{
  color:#CCCCCC;
  cursor:pointer;
}

.calculator_box .data_input_part{
  display:none;
}

.calculator_body_tbl{
  border-collapse:collapse;
  width:100%;
  background-color:#FFFFFF;
}
.calculator_body_tbl td{
   vertical-align:top;
   border:#000 1px solid;
}

.calculator_body_tbl .menu_block div{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   padding:3px 15px;

}
.calculator_body_tbl .menu_block div:hover{
   background-color:#DDD;
   cursor:pointer;
}
.calculator_body_tbl .menu_block div.sub{
   padding:3px 10px 3px 30px;

}

.calculator_body_tbl .tirag_and_itog_part_tbl{
  border-collapse:collapse;
  width:100%;
  background-color:#EEE;
}
.calculator_body_tbl .tirag_and_itog_part_tbl td{
  /*border:#000 1px solid;*/
  vertical-align: middle;
  text-align:center;
  border:none;
}