@charset "utf-8";
/* CSS Document */
input[type="checkbox"]{
    display:none;            
}
input[type="checkbox"] + label{ 
  cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 25px;
    margin: 0 5px 0 5px;
    background-image: url(../images/img_design/master_btn1_bg.png);
    background-repeat: no-repeat;
}
/*input[type="checkbox"] + label:hover::before {
   background-image: url(../images/img_design/master_btn1_bg_over.png);
   background-repeat: no-repeat;  
}*/

input[type="checkbox"]:checked + label::before {
   background-image: url(../images/img_design/master_btn1_bg_checked.png);
   background-repeat: no-repeat; 
}

input[type="checkbox"]:checked + label:hover::before {
   background-image: url(../images/img_design/master_btn1_bg_over.png);
   background-repeat: no-repeat; 
}

input[type="checkbox"]:disabled + label::before {
   background-image: url(../images/img_design/master_btn1_bg_checked.png);
}
input[type="checkbox"]:checked:disabled + label::before {
   background-image: url(../images/img_design/master_btn1_bg_checked_disabled.png);
}
