div.showImgGalleryWindow{
  width: 23px;
    height: 12px;
    border: 1px solid #CECDCD;
    margin-left: 3px;
}
div.showImgGalleryWindow:after{
  position: absolute;
  width: 23px;
    height: 12px;
    color: #CECDCD;
    content: "img";
    margin-left: -11px;
    margin-top: -4px;
}
div.showImgGalleryWindow:hover{
  background:  #CECDCD;
  color: #898787;
  cursor: pointer;
}
div.showImgGalleryWindow:hover:after{
  color: #898787;
}
div#rt-gallery-images {
   max-height: 355px;
   overflow-x: hidden;
}
div#rt-gallery-images img{
   max-height: 150px;
   max-width: 150px;
}
div#rt-gallery-images ul li.rt-gallery-cont {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #f1f1f1;
    text-align: center;
    vertical-align: text-bottom;
}

div#rt-gallery-images ul li.rt-gallery-cont.checked{
   border: 1px solid #77AC78;
   border-radius: 4px;
}
div#apl-notification_center li .dop_text{    
    text-transform: none;
}

li.rt-gallery-cont .delete_upload_img {
    background: rgba(255, 255, 255, 0.79);
    width: 17px;
    height: 17px;
    /*counter-increment:*/
    /*content: attr(data-before);*/
    position: absolute;
    float: right;
    margin-left: 123px;
    font-size: 14px;
    padding: 2px 2px;
    border: 1px solid #D2D2D2;
    border-radius: 1px;
    color: #A2A2A2;
    cursor: pointer;
}
li.rt-gallery-cont .delete_upload_img:hover{
  background: $fff;
}

div#image_add {
    float: left;
    background-color: #505050;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#639363),color-stop(1,#9DBE8E));
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 2px solid #8DA483;
    color: #DFF8DD;
    font: 700 12px Arial,Helvetica,sans-serif;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    width: 96%;
    margin-top: 15px;
    padding: 7px 0;
    cursor: pointer;
}
div#image_add:hover {
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#537753),color-stop(1,#87B572));
}