@charset "utf-8";
/* CSS Document */

.tbl {border-collapse:collapse}
.tbl td{ border:#AAA solid 1px;}
.cap td{font-size:13px;padding-bottom:12px;}
.test_data{font-size:9px;}
.test_data_cap{ background-color:#CCCCCC;}
.in{ /*background-color: #CCFFFF;*/}
.out{/* background-color: #FFFFCC;*/}
.grey{ background-color: #EEE;}
.red_cell{ color: #FF0000;}
.top{ vertical-align:top}
.hidden{ display:none; }
.active{ background-color: #EEE;}

.rt_tbl_head{ 
 /*table-layout:fixed;*/
 border-collapse:collapse;

}
.rt_tbl_head td{ 
 padding:0px;
 font-size:11px;
 border:#EEE solid 0px;
}
.rt_tbl_head .bottom_border td{ border-bottom: #999 solid 2px;}
.rt_tbl_head span.small{ 
 font-size:9px;
 border:#EEE solid 0px;
}

.rt_tbl_head .master_button{
  position:relative;
  border:#DDD solid 1px;
  background-color:#F3F3F3;
  height:18px;
  width:50px;
  margin:2px; 
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-image:url(../images/img_design/master_btn_bg.png)
}
.rt_tbl_head .master_button:hover{
  
  border:#CCC solid 1px;
  box-shadow: 0 2px 6px -3px #aaa;
  -moz-box-shadow: 0 2px 6px -3px #aaa;
  -webkit-box-shadow: 0 2px 6px -3px #aaa;
  background-image:url(../images/img_design/master_btn_bg_over.png)
}
.rt_tbl_head .master_button a{
  display:block;
  line-height:18px;
  text-decoration:none;
}
.rt_tbl_head .master_button a:hover{
  display:block;
  line-height:18px;
  /*background-color:#FF3333;*/
}
.rt_tbl_head .master_button .reset_button{
  text-align:center;
  position:absolute;
  top:2px;
  left:10px;
  border:#CCC solid 1px;
  height:12px;
  width:16px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-image:url(../images/img_design/reset_btn_bg.png);
  cursor:pointer
}
.rt_tbl_head .master_button_container{
  position:relative;
}
.rt_tbl_head .master_button{
  position:absolute;
  top:0px;
  left:0px;
}
.rt_tbl_head .master_button .reset_button:hover{
   box-shadow: inset 0 0 7px -4px #777;
  -moz-box-shadow: inset 0 0 7px -4px #777;
  -webkit-box-shadow: inset 0 0 7px -4px #777;
  background-image:url(../images/img_design/reset_btn_bg_over.png)
}

.rt_tbl_head .master_button .on{
  background-image:url(../images/img_design/reset_btn_bg_on.png);
}
.rt_tbl_head .master_button .on:hover{
  background-image:url(../images/img_design/reset_btn_bg_on_over.png);
}

.rt_tbl_head .master_button .none{
  background-image:url(../images/img_design/reset_btn_bg_none.png);
}
.rt_tbl_head .master_button .none:hover{
  background-image:none;
}

.rt_tbl_head .master_button .reset_button a{
  display:block;
  line-height:12px;
  text-decoration:none;
}
.rt_tbl_body .r_border, .rt_tbl_head .r_border{
 border-right:#d9dada solid 1px;
}
.rt_tbl_head .w_border{
 border-bottom:#FFF solid 1px;
}

.rt_tbl_body{
border-collapse:collapse;
table-layout:fixed;
/**/
}
.rt_tbl_body td{
 padding:20px 0 0 0;
 vertical-align:top;
 font-size:12px; 
 border:#FF0000 solid 0px;
}
.rt_tbl_body .lowest_row_in_pos td{
 border-bottom:#FF0000 solid 0px;
 padding-bottom:25px;
}
.rt_tbl_body .svetofor{
 position:relative;
 padding-top:14px;
}
.rt_tbl_body .svetofor_plank{
 position:absolute;
 top:10px;
 left:6px;
 background-color: #EEE;
 width:80px;
 height:30px;
 display:block;
}
.scrolled_tbl_movable_part{
overflow-y:scroll; 
height:200px;
  /*overflow-y:auto;
  background-color:#CCC;*/
}
.rt_tbl_body .glob_counter{
 padding-top:19px;
 font-size:14px;
 text-align:center;
}
.rt_tbl_body td .overflow{
 white-space: nowrap;
 /*overflow-x:hidden;
*/
}
.rt_tbl_body .masterBtnContainer{
 margin-top:-2px;
}

.rt_tbl_body .pos_edge{
 border-top:#cbcdcd solid 1px;
}

.rt_tbl_body .pos_plank {
 margin-top:-1px;
 padding:2px 2px 2px 4px;
 /*position:relative;*/
}
.rt_tbl_body .cat{
 background-color:#c6e1aa;
}
.rt_tbl_body .pol{
 background-color:#e3e5e5;
}
.rt_tbl_body .ext{
 background-color:#c5e6f1;
}

.rt_tbl_body .pos_plank a{
 padding:0 20px 0 0;
 text-decoration:none;
 color:#000
} 
.rt_tbl_body .pos_plank .pos_link_plank{
 float:right;
 border:#EEE solid 0px;
}
.rt_tbl_body .pos_plank .pos_link_plank div{
 float:right;
 text-align:center;
 border:#EEE solid 0px;
}
.rt_tbl_body .pos_plank .pos_link_plank a{
 display:block;
}
.rt_tbl_body .pos_plank .pos_link_plank .catalog{ width:14px;}
.rt_tbl_body .pos_plank .pos_link_plank .supplier{ width:100px;}

.rt_tbl_body .r_border{
 border-right:#e3e5e5 solid 1px;
}
.rt_tbl_body .calc_btn{   text-align:center;}
.rt_tbl_body .calc_btn > *{  border:#92b73e solid 1px; color:#000; padding:1px 4px 1px 4px; font-size:11px;cursor:pointer;}
.rt_tbl_body .quantity_dim{ font-size:11px; line-height:14px;}

.rt_tbl_body .right, .rt_tbl_head .right{ text-align:right;}
.rt_tbl_body .left, .rt_tbl_head .left{ text-align:left;}
.rt_tbl_body .center, .rt_tbl_head .center{ text-align:center;}
.rt_tbl_body .pointer, .rt_tbl_head .pointer{ cursor:pointer;}


#options_bar{ background-color: #c7c8ca; padding: 0 32px;}
#options_bar ul{padding: 0; margin: 0; list-style: none}
#options_bar ul li{ display: inline-block; padding: 5px 10px}
#options_bar span{ color: #5a5c61; font-size: 10px}