@charset "utf-8";
/* CSS Document */

body{
   margin:0px;
}
div{
   border:#000000 solid 0px;
}
input, textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.tbl_index td{
   text-align:center;
   vertical-align:top;
}
.clear_div{ 
  clear:both;
}
.div_center{
   margin:auto;
   width:100px;
}

.simple_tbl{  
   border-collapse:collapse;
}
.simple_tbl td{  
   border:#888888 1px solid;
   padding:2px 5px;
}
.warning_up_window{
   position:absolute;
   text-align:center;
   font-family:arial,verdana;
   font-size:12px;
   font-weight:900;
   padding:8px 8px 8px 8px;
   background:#FFC1C1;
   border:#FF0000 2px solid;
}
.warning_up_window table{
   margin:5px;
   border-collapse:collapse;
   font-weight:100;
   padding:3px 8px 3px 8px;

}
.warning_up_window table td{
   border:#777777 1px solid;
}
.warning{
   text-align:center;
   font-family:arial,verdana;
   font-size:12px;
   font-weight:900;
   padding:8px 8px 8px 8px;
   background:#FFC1C1;
   border:#FF0000 2px solid;
   margin-bottom:10px;
}
.approve{
   text-align:center;
   font-family:arial,verdana;
   font-size:12px;
   font-weight:900;
   padding:8px 8px 8px 8px;
   background:#00FFFF;
   border:#0099FF 2px solid;
   margin-bottom:10px;
}
#upToTopBtn{
   position:fixed;
   bottom:20px;
   right:10px;
   display:none; 
   background-color:#FFFFFF;
   padding:5px 7px;
   box-shadow: 0 0 8px -1px #555555;
   -moz-box-shadow: 0 0 8px -1px #555555;
   -webkit-box-shadow: 0 0 8px -1px #555555;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}
#upToTopBtn a{
  font-family:Arial;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
.page_nav_block{
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#555555; 
} 	
.page_nav_block a{
    font-family: Verdana, Helvetica, Arial, sans-serif;
	padding:0px 5px 1px 5px;
	color:#555555;
} 	
.page_nav_current_link{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color:#EAB600;
	padding:0px 5px 1px 5px;
	color:white;
} 
.simple_text_type_1{
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight:100;
	color:#555555; 
}
.simple_text_type_1 a{
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight:100;
	color:#555555; 
}
.simple_text_type_1_black{
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight:100;
	color:#0000000; 
}

.simple_text_type_2{
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#98646E;
	letter-spacing:-1px; 
}
.simple_text_type_2 a{
	color:#98646E;; 
}
.simple_text_type_3{
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#98646E;
	letter-spacing:-1px;
	font-weight:bold;
}
.warning_about_file_exists_div{
    position:absolute;
	top:0px;
	left:-12px;
	z-index:1; 
	background-color: #CCCCCC;
	display:none;
	width:318px;
	height:96px;
	padding:10px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	border:#999999 solid 1px;
}

.warning_about_file_exists_buttons_div{ 
    background-color:#CCCCCC;
	font-size:14px;
	padding:8px 6px 0px 6px;
}
.warning_about_file_exists_button_div{ 
    width:45%;
	height:23px;
	background-color:#FFCCCC;
	border:#999999 solid 1px;
	float:left;	
}
.warning_about_file_exists_button_div a{
    text-decoration:none;
}

.list_tbl{ 
   border:#000000 0px solid;
}
.list_tbl td{ 
   width:300px;
   vertical-align:top;
   border:#000000 0px solid;
}


.list_tbl a{
 text-decoration:none;
}
.list_tbl a:hover{
 text-decoration:underline;
}
.list_tbl .inner_list_div{
   padding:4px;
   text-align:left;
   vertical-align:top;
   border-bottom: #BBBBBB  dotted 1px;
}
.list_tbl .inner_list_div a{
   color:#565656;
}
.list_tbl .delete_btn{
   float:right;
   padding:2px;
   vertical-align:top;
   font-size:13px;
}
.delete_btn{
   float:right;
   padding:0px 4px 0px 0px;
   vertical-align:top;
}
.rating_plank{
   float:right;
   padding:6px 0px 0px 0px;
   vertical-align:top;
}
.delete_btn a{
   text-decoration:none;
   font-size:13px;
   color:#888888;
}
.delete_btn a.red{
    color:#FF0000;
}
.hidden_link{
   text-decoration:none;
   color:inherit;
}

/*
************************************
*/
.help{
   text-align:left;
   font-family:arial,verdana;
   font-size:11px;
   color:#555555;
   padding:4px 2px 2px 4px;
   height:100%
}
.item{
   color:#003399;
   font-weight:800;
}
.admin_nav_path{
   background-color:#F6921D;
   margin:0px;
   padding-left:20px;
   padding-top:15px;
   height:30px;
   border:#000000 solid 0px;
   text-align:left;
   font-family:verdana,arial;
   font-size:12px;
   color:#FFFFFF;
}

/*
************************************
*/

.main_menu_tbl td{
   height:80px;
}
.main_menu_tbl td a{
   font-family:verdana,arial;
   font-size:12px;
   color:#777777;
   text-decoration:none;
}
.main_menu_double{
   height:400px;
   width:150px;
   margin-right:0px;
}
.main_menu_double div{
   padding-top:10px;
}
.main_menu_double a{
   margin-top:20px;
   font-family:Arial, Helvetica, sans-serif;
   color:#FFFFFF;
   font-size:10px;
   text-decoration:none;
}

/*
************************************
*/
 
.data_output_tbl{ 
   border-collapse:collapse;
   font-family:arial;
   font-size:10px;
}
.data_output_tbl td{ 
   border:#DDDDDD solid 1px;
}

/*
** portfolio
*/

.part_conteiner_div{
    position:relative;
	float:left;
	width:120px;
	height:120px;
	border:#BCBEC0 solid 6px;
	margin:10px 30px 10px 10px;
}
.part_contetn_conteiner_div{
    position:relative;
	float:left;
	width:110px;
	height:86px;
	border:#BCBEC0 solid 5px;
	margin:5px 30px 10px 10px;
}
#portfolio_td_link_discribe_part{
   border:#999999 solid 1px;
   height:18px;
   padding:4px;
   background-color:#DDDDDD;
}
#portfolio_td_link_img_part{
   border:#999999 solid 1px;border-left:0px;
   height:18px;
   padding:4px; 
   background-color:#DDDDDD;
}
#portfolio_td_link_discribe_part a, 
#portfolio_td_link_img_part a{
   font-family: Verdana, Helvetica, Arial, sans-serif;
   font-size: 12px;
   font-weight:100;
   color:#555555;
   text-decoration:none;
}
#portfolio_td_link_discribe_part a:hover,
#portfolio_td_link_img_part a:hover{
   color:#FF0000;
}

/*
**  galleries
*/

.galleries_show_path{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color:#777777;
   font-size:12px;
}
.galleries_show_path a{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color:#777777;
   font-size:12px;
   text-decoration:none;
   padding-bottom:1px;
   border-bottom:#777777 solid 1px;
   
}
#download_form_small_input_file_div,
#download_form_small_input_file_div_2,
#download_form_small_input_file_div_3{
position:absolute;
top:7px;
z-index:2; 
-moz-opacity:0 ;
filter:alpha(opacity: 0);
opacity: 0;
}

#download_form_small_input_file,
#download_form_small_input_file_2,
#download_form_small_input_file_3{
width:216px;
font-size:15px;
font-family:  Arial, Helvetica,sans-serif;
cursor:pointer;
}
 
#small_emul_input_file,
#small_2_emul_input_file,
#small_3_emul_input_file{
left:5px;
top:12px;
font-family:  Arial, Helvetica,sans-serif;
font-size:12px;
position:absolute;
z-index:1;
width:134px; height:16px;
border: #000000 solid 0px;
overflow:hidden;
}
/*
*******  add items  *********
*/

#download_form_input_file_div{
position:absolute;
top:0px;
z-index:2; 
-moz-opacity:0 ;
filter:alpha(opacity: 0);
opacity: 0;
}

#download_form_input_file{
width:330px;
font-size:20px;
font-family:  Arial, Helvetica,sans-serif;
cursor:pointer;
border:#000000 solid 0px;
}
 
#emul_input_file{
left:26px;
top:10px;
font-family:  Arial, Helvetica,sans-serif;
font-size:12px;
position:absolute;
z-index:1;
width:217px; height:16px;
overflow:hidden;
border:#000000 solid 0px;
}

/*
*******  manager_order  *********
*/
.manager_order_tbl{
   margin:15px 0px 0px 2px;
   border-collapse:collapse;
   font-family: arial;
   font-size:14px;
}
.manager_order_tbl td{ 
   text-align:center;
   background-color:#FFFFFF;
   border:#999999 solid 1px;
}
.detail_order_tbl{
   margin:15px 0px 0px 10px;
   border-collapse:collapse;
   font-family: arial;
   font-size:13px;
}
.detail_order_tbl td{ 
   text-align:left;
   padding:1px 4px 1px 4px;
   background-color:#FFFFFF;
   border:#999999 solid 1px;
}
.detail_order_tbl th{
   font-weight:normal; 
   text-align:center;
   background-color:#FFFFFF;
   border:#999999 solid 1px;
}
.manager_order_tbl_top{
   text-align:center;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   letter-spacing:0px;
   background:url(../../skins/tpl/admin/order_manager/img/bg_top_orders_table.gif)  bottom repeat-x;
}
.manager_order_tbl_top a{
   font-family:inherit;
   font-size:inherit;
   font-weight:inherit;
   letter-spacing:inherit;
   color:#000000;
   display:block;
   text-decoration:none; 
}

.manager_order_div{
   margin-left:20px;
}
/*
**  text_pages  
*/

.text_pages_menu{
   text-align:left;
   margin-bottom:3px;
   width:150px;
}

.text_pages_menu a{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   text-decoration:none;
   color:#333333;
}
.text_pages_menu a:hover{
   text-decoration:underline;
}

/*
**  seo  
*/

.seo_menu{
   text-align:left;
   margin-bottom:3px;
   width:150px;
}

.seo_menu a{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   text-decoration:none;
   color:#333333;
}
.seo_menu a:hover{
   text-decoration:underline;
}
.seo_form{
   float:right; margin-right:10px;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px; 
}

.seo_form input{
   width:250px;
}
.seo_textarea{
   width:248px;
}

/*
**  base_update
*/

.admin_topplank1{
   padding:5px 5px 5px 5px;
   background-color:#FFFFFF;
   border-bottom:solid #777777 0px;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
}
.admin_topplank1 a{
   color:#000000;
   text-decoration:none;
}
.admin_topplank1 a:hover{
   color:#000000;
   text-decoration:underline;
}
.admin_topplank2{
   padding:5px 0px 7px 29px;
   background-color:#DDDDDD;
   border-bottom: outset #FFFFFF 2px;
   border-top: outset #bbbbbb 1px;
   font-family:Arial, Helvetica, sans-serif;
   font-size:11px
}
.admin_topplank2 form{
   margin:0px;
   padding:0px;
}
.admin_topplank2 input{
   margin:0px 10px 0px 10px;
   padding:1px;
}
.admin_topplank3{
   margin:0px;
   padding:2px 0px 2px 25px;
}
.upbase_tbl{
   width:100%;
   border-collapse:collapse;
}

.upbase_tbl td{
   border:solid #777777 1px;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   padding:1px
}
.upbase_tbl td input{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   border:solid #DDDDDD 0px;
   margin:0px;
   padding:1px
}
.upbase_tbl td.count{
   font-family:Arial, Helvetica, sans-serif;
   font-size:10px;
   color:#999999;
   padding:1px;
}
.baseupselect1{
   margin:0px 25px 0px 0px;
}
.baseupselect2{
   margin:0px 6px 0px 0px;
   width:127px;
}

.update_base_menu_cont{
   font-family:Arial, Helvetica, sans-serif;
   font-size:13px;
}
.update_base_menu_cont .sub_div_main{
   font-weight:bold;
   color: #660000;
   text-decoration: underline;
   padding:0px 0px 0px 10px;
}
.update_base_menu_cont .sub_div_sub{
   font-weight:bold;
   padding:0px 0px 0px 20px;
}
.update_base_menu_cont .sub_div_singlesub{
   padding:0px 0px 0px 18px;
}
.update_base_menu_cont .sub_div_singlesub a:hover{
   text-decoration: underline;
}
.update_base_menu_cont .sub_div_ssub{
   padding:0px 0px 0px 30px;
}
.update_base_menu_cont .sub_div_ssub a:hover{
   text-decoration: underline;
}

/*
**  стили всплывающих подсказок tooltip
*/
.tooltipShadow {
   /*background: url(shadow.png);  полупрозрачная тень */
   background-color: #000;
}
 
.tooltipContent {
  left: -2px; top: -2px; /* смещение относительно тени */
  background-color: #fff; /* фон */
  border: solid black 1px; /* тонкая рамка черного цвета */
  padding: 5px; /* отступы между текстом и рамкой */
  font: 9pt sans-serif; /*  bold небольшой жирный шрифт */
}

/*
**  order manager
*/
.ord_man_text_I{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
}
.ord_man_text_II{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size:14px;
   font-weight:bold;
}

.ord_man_link_I a{
   /*text-decoration:none;*/ 
   font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
   font-size:12px;color:#333333;
}
.ord_man_link_II a{
   /*text-decoration:none;*/ 
   font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
   font-size:12px;color:#000000;
}


.order_manager{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
}

.order_manager #top_menu_panel{
   border-top:#2B6D2E solid 2px;
   height:34px;
   background-color:#5DA25D;
}
.order_manager #top_menu_panel_buttons_div div{
   text-align:center;
}
.order_manager #top_menu_panel_buttons_div a{
   color:#FFFFFF; 
   text-decoration:none; 
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
   padding:8px;
   display:block;
}
.order_manager #top_menu_panel_buttons_div a:hover{
   color:#FFFFFF; 
   background-color:#2B6D2E;
}
.order_manager .top_menu_sub{
   background-color:#FFFFFF;
   border-right:#000000 solid 1px;
   border-bottom:#000000 solid 1px;
   border-left:#CCCCCC solid 1px;
   border-top:#CCCCCC solid 1px;
   position:absolute;
   top:36px;
   left:0px;
   width:200px;
   display:table-cell;
   padding-bottom:10px;
}
.order_manager .top_menu_sub a{
   color:#000000; 
   text-decoration:none; 
   padding:8px 10px 8px 40px;
   display:block;
}
.order_manager .top_menu_sub a:hover{
   background-color:#DCE4FC;
}
.order_manager .top_menu_button{
   float:left;
   margin-left:4px;
}

.order_manager .menu_for_razdel{
   margin-top:25px;
   width:100%;
   height:700px;
   border-collapse:collapse;
   border:0px;
}
.order_manager .menu_for_razdel_td{
   border:#333333 solid 0px;
   width:178px;
   height:31px;
   vertical-align:middle;
   text-align:center;
   background:url(../../skins/tpl/admin/order_manager/img/razdel_top_line.gif)  bottom repeat-x;
}
.order_manager .menu_for_razdel_td a{
   text-decoration:none;
   font-weight:bold;
   font-family:Arial, Helvetica, sans-serif;
   font-size:16px;
   letter-spacing:-1px;
   color:#333333; 
   display:block;
   padding:5px 0px 5px 0px;
}
.order_manager .menu_for_razdel_2{
   border-top:#888685 solid 1px;
   border-bottom:#888685 solid 1px; 
   margin-top:15px;
   width:100%;
   background:#EEEEEE;
}
.order_manager .menu_for_razdel_2_td{
   border-left:#FFFFFF solid 1px;
   border-right:#FFFFFF solid 1px;

   text-align:center;
   font-weight:bold;
   background:url(../../skins/tpl/admin/order_manager/img/bg_razdel_2_menu.gif)  bottom repeat-x;
}

.order_manager .planner_menu{
   border-collapse:collapse;
   text-align:center;
}

.order_manager .planner_menu td{
   font-size:12px;
   color:#AAAAAB;
   vertical-align:middle;
   background:url(../../skins/tpl/admin/order_manager/img/bg_menu_third_level.png)  bottom repeat-x;
   border:#FFFFFF solid 1px;
}

.order_manager .planner_menu td.add_button{
   background:url(../../skins/tpl/admin/order_manager/img/bg_menu_third_level_orange.png)  bottom repeat-x;
}

.order_manager .planner_menu td a{
   font-size:12px;
   color:#FFFFFF;
}

.clients_order_table{
   border-collapse:collapse;
}
.clients_order_table td{
   height:30px;
   border:#777777 solid 1px;
   text-align:center;
   background-color:#FFFFFF;
}
.clients_order_table_top{
   font-size:12px;
   color:#FFFFFF;
   background:url(../../skins/tpl/admin/order_manager/img/bg_top_clients_order_table.gif)  bottom repeat-x;
}
.order_manager .menu_for_razdel_2_td a{
   text-decoration:none;
   color:#333333;
   display:block;
   padding:5px 0px 6px 0px;
}
.order_manager .calculate_table{
   border-collapse:collapse;
}
.order_manager .calculate_table td{
   font-size:11px;
   border:#AAAAAB solid 1px;
   text-align:center;
   vertical-align:top;
   padding:0px;
}
.order_manager .calculate_table .calculate_table_top{
   font-size:11px;
   color:#FFFFFF;
   vertical-align:middle;
   background:url(../../skins/tpl/admin/order_manager/img/bg_top_rt_table.gif)  bottom repeat-x;
}


.order_manager .calculate_table2{
   border-collapse:collapse;
   font-family: Arial, Verdana,  Helvetica, sans-serif;
}


.order_manager .calculate_table_td_{
   background-color:#FFFFFF;
}
.order_manager .calculate_table_price_td_{
   background-color:#F3F3F3;
}
.order_manager .calculate_table_delta_td_{
   background-color:#C5E1BD;
}

.order_manager .calculate_table_td_new, .order_manager .calculate_table_price_td_new, .order_manager .calculate_table_delta_td_new{
   background-color:#E1E1E1;
}

.order_manager .calculate_table_td_orange, .order_manager .calculate_table_price_td_orange, .order_manager .calculate_table_delta_td_orange{
   background-color:#F7CB96;
}

.order_manager .calculate_table_td_green, .order_manager .calculate_table_price_td_green, .order_manager .calculate_table_delta_td_green{
   background-color:#CDF5CE;
}

.order_manager .calculate_table_td_red, .order_manager .calculate_table_price_td_red, .order_manager .calculate_table_delta_td_red{
   background-color:#FBBFBF;
}

.order_manager .calculate_table_td_blue, .order_manager .calculate_table_price_td_blue, .order_manager .calculate_table_delta_td_blue{
   background-color:#C0C6FA;
}

.order_manager .calculate_table_td_lilac, .order_manager .calculate_table_price_td_lilac, .order_manager .calculate_table_delta_td_lilac{
   background-color:#E0BDF4;
}

.order_manager .calculate_table_td_black, .order_manager .calculate_table_price_td_black, .order_manager .calculate_table_delta_td_black{
   background-color:#A0A0A0;
}

.order_manager .auxiliary_row{
   display:none;
}

.order_manager .auxiliary_row_on{
   display:table-row;
}

.order_manager .calculate_table2 .supplier_div{
    width:80px;
	height:10px;
    font-size:11px;
    border:#AAAAAB solid 1px;
	background-color:#E1E1E1;
    text-align:center;
	line-height:10px;	
	
	padding:0px 0px 1px 0px;
}

.order_manager .calculate_table2 .rt_supplier_link{
    display:block;
    text-decoration:none;
	color:#888888;
}

.order_manager .calculate_table2 td{
   font-size:12px;
   border:#AAAAAB solid 1px;
   text-align:center;
   vertical-align:top;
   padding:0px;
}
.order_manager .calculate_table2 .calculate_table_top{
   font-size:11px;
   color:#FFFFFF;
   vertical-align:middle;
   background:url(../../skins/tpl/admin/order_manager/img/bg_top_rt_table.gif)  bottom repeat-x;
}
.order_manager .calculate_table_input{
   margin:4px 0px 4px 4px;
   padding:1px 2px 1px 2px;
   font-size:11px;
   border:#CCCCCC solid 1px;
   text-align:right;
   width:50px;
   height:20px;
}
.order_manager .calculate_table_input2{
   margin:0px 1px 0px 0px;
   padding:0x;
   font-size:12px;
   border:#CCCCCC solid 0px;
   text-align:right;
   width:60px;
   height:20px;
   background-color:#EEEEEE;
}
.order_manager .calculate_table_input2_2{
   margin:0px 0px 0px 0px;
   padding:0рx;
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size:12px;
   border:#CCCCCC solid 0px;
   text-align:right;
   width:60px;
   height:20px;
   background: inherit;  
   
}
.order_manager .calculate_table_input_for_article{
   padding:2px 2px 1px 2px;
   font-size:11px;
   font-weight:bold;
   margin:0px;
   border:#333333 solid 0px;
   text-align:left;
   width:150px;
   height:15px;
}
.order_manager .calculate_table_textarea{
   display:none;
   padding:2px 4px 2px 4px;
   margin:0px;
   border:none;
  
   width:96%;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size:11px;
   text-align:left;
}

.order_manager .plans_table{
    margin-top:2px;
    border-collapse:collapse;
}
.order_manager .plans_table th{
   height:20px;
   border:#777777 solid 1px;
   text-align:center;
   background-color:#CCCCCC;
}

.order_manager .plans_table td{
   height:20px;
   border:#777777 solid 1px;
   text-align:left;
}
/*
.order_manager .planner_rows{ background-color:#FFFFFF;}
.order_manager .planner_rows_expired{ background-color:#A0A0A0;}
.order_manager .planner_rows_today{ background-color:#F7CB96;}
.order_manager .planner_rows_nearweek{ background-color:#FFEBC2;}
*/

.order_manager .planner_rows{ background-color:#FFFFFF;}
.order_manager .planner_rows_expired{ background-color:#FFFFFF;color:#FF0000;}
.order_manager .planner_rows_today{ background-color:#FFFF55;}
.order_manager .planner_rows_nearweek{ background-color:#CBFE65;}


.order_manager .plans_table .date_in_format{
   font-size:11px;
   padding:0px 2px 0px 5px;
}

.order_manager .plans_table .time_in_format{
   font-size:10px;font-style:italic;
   padding:0px 2px 0px 8px;
}

.order_manager .plans_table .mini_cap{
  color:#222; border: #BBB solid 1px; background-color:#DDD;padding:0px 4px 1px 4px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}

.order_manager .plans_table .result_in_plans{
   background-color:#EEE;
}

.order_manager .rt_razdel_dop_menu{
   border-collapse:collapse;
}
.order_manager .rt_razdel_dop_menu td{
   padding-top:4px;
   height:28px;
   border:#CCCCCC solid 0px;
}
.order_manager .rt_razdel_dop_menu a{
   color:#000000;
   text-decoration:none; 
   font-size:11px;
}

.order_manager .rt_razdel_dop_menu3{
   border-collapse:collapse;
}
.order_manager .rt_razdel_dop_menu3 td{
   padding-top:4px;
   height:28px;
   border:#CCCCCC solid 0px;
   background-color:#FFFFFF;
}
.order_manager .rt_razdel_dop_menu3 a{
   color:#000000;
   text-decoration:none; 
   font-size:11px;
}
.order_manager .client_form_table{
   border-collapse:collapse;
   margin:auto;
   width:90%;
}
.order_manager .client_form_table td{
   vertical-align:top;
   border:solid #CCCCCC 0px;
   padding-left:10px;
   text-align:left;
   padding:0 0 0 2%;
   padding-top:3px;
}
.order_manager .client_form_table td input, .order_manager .client_form_table td textarea , .order_manager .client_form_table td select{
   margin-left:-20px;
}

.order_manager .client_form_table .note_div{
   position:relative;
   height:24px;
}
.order_manager .client_form_table .note_div .note{
   position:absolute;
   font-size:9px;
   width:500px;
   color:#777;
}

.order_manager .client_form_table input[type="text"]{
   border:solid #999999 1px;
   padding:2px;
   width:100%;
}
.order_manager .client_form_table textarea{
   border:solid #999999 1px;
   padding:2px;
   width:100%;
}
.order_manager .div_between_form_rows{
   border-top:1px dashed #BBBBBB;
 /*  margin:22px 14px 32px 14px; */
 	margin:14px;
}

.order_manager .common_button_1_left_side{
   width:7px;
   height:29px;
   background:url(../../skins/tpl/admin/order_manager/img/common_button_1_left_side.gif) no-repeat right  bottom;
   float:left;
}
.order_manager .common_button_1_right_side{
   width:7px;
   height:29px;
   background:url(../../skins/tpl/admin/order_manager/img/common_button_1_right_side.gif) no-repeat left  bottom;
   float:right;
}
.order_manager .common_button_1_center{
   height:29px;
   background:url(../../skins/tpl/admin/order_manager/img/common_button_1_center.gif) repeat-x bottom;
   float:right;
   text-align:center;
}
.order_manager .common_button_1_center a{
  padding:6px 0px 5px 0px;
  text-decoration:none;
  color:#FFFFFF;
  display:block;
}
.order_manager .show_items_div{
  padding:11px 0px 0px 33px;
  height:12px;
}
.order_manager .update_client_data_button{
  background:url(../../skins/tpl/admin/order_manager/img/update_client_data.gif) left top no-repeat;
  border:none;
  width:114px;
  height:30px;
  cursor:pointer;
  float:right;
}

.order_manager .select_goods { padding-bottom:5px; border:#000000 solid 0px;}
.order_manager .select_goods a{ font-family:Verdana;font-size:10px;color:#9BB92D;letter-spacing:-1px; }
.order_manager .select_goods a:hover{ font-family:Verdana;font-size:10px;color:#E1E89A;letter-spacing:-1px; }
.order_manager .link_save_list a{font-family:Verdana;color:#999999;font-size:14px;font-weight:bold;}
.order_manager .link_save_list a:hover{ color:#000000;}

.order_manager_print_preview .finally_print_preview_table{
  margin:0px 0px 0px 10px;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif; 
  border-collapse:collapse;
  border:solid #000000 0px;
}
.order_manager_print_preview .finally_print_preview_table td{
  padding:0px 0px 0px 3px;
  border:solid #000000 1px;
}
.order_manager_print_preview .finally_print_preview_table_II{
  margin:0px 0px 0px 10px;
  font-size:11px;
  font-family:Arial, Helvetica, sans-serif; 
  border-collapse:collapse;
  border:solid #000000 0px;
}
.order_manager_print_preview .finally_print_preview_table_II td{
  padding:0px 2px 0px 2px;
  text-align:right;
  border:solid #000000 1px;
}

.order_manager_print_preview p{
  margin:0px 5px 0px 10px;
  font-size:11px;
  font-family:Arial, Helvetica, sans-serif;
}
.order_manager .rt_up_window{
  position:absolute;
  left:10px;
  display:none;
  width:220px;
  border: #AAAAAA solid 1px;
  background-color:#FFFFFF;
  text-align:left;
  z-index:1;
  padding:3px 0px 3px 0px;
}
.order_manager .rt_up_window_item{
  margin:2px 0px 2px 0px;
}

.order_manager .rt_up_window_item a{
  color:#444444;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration:none;
  display:block;
  padding:8px 0px 8px 10px;
  
}
.order_manager .rt_up_window_item a:hover{
  background-color:#EAEAEA;
}


.order_manager .rt_up_window2{
  padding:4px 0px 4px 0px;
  position:absolute;
  top:-158px;
  left:3px;
  display:none;
  width:120px;
  border: #888888 solid 1px;
  background-color:#FFFFFF;
  text-align:left;
}
.rt_up_window2_row{
  padding:2px 0px 2px 8px;
}
.order_manager .marker_droping_div{
  position:absolute;
  top:12px;
  left:-41px;
  display:none;
  width:160px;
  border: #333333 solid 1px;
  background-color:#FFFFFF;
  text-align:left;
  padding:4px 0px 4px 10px;
}
.order_manager .marker_making_kp_div{
  position:absolute;
  top:20px;
  left:-19px;
  display:none;
  width:170px;
  border: #333333 solid 1px;
  background-color:#FFFFFF;
  text-align:left;
  font-size:11px;
  padding:4px 0px 4px 0px;
  
}
.order_manager .marker_making_kp_div .a{
  margin:8px 0px 8px 17px;
  
}
.order_manager .marker_making_kp_div a{
  margin:0px 0px 0px 6px;
  line-height:20px;
  
}
.order_manager .marker_making_kp_div a:hover{ 
  text-decoration:underline
}
.order_manager .marker_making_kp_div .text{
  margin:4px 0px 4px 10px;
}
.order_manager .help_div{
  position:absolute;
  top:0px;
  right:0px;
  font-size:11px;
  font-family:Arial, Helvetica, sans-serif;
  width:400px;
  border: #333333 solid 1px;
  background-color:#FFFFFF;
  text-align:left;
  padding:10px; 
}
.order_manager .help_item{
  margin:4px 0px 4px 0px;
}
.order_manager .help_item a{
  color:#333333;
  text-decoration:none;
  border-bottom: 1px dotted #333333;
}
.order_manager .help_item a:hover{
  color: #CC6633;
  text-decoration:none;
  border-bottom: 1px dotted #CC6633;
}
.order_manager .help_description{
  margin:8px 0px 8px 12px;
}

.order_manager .help_description a{
  color:#CC6633;
  text-decoration:none;
  border-bottom: 1px dotted #CC6633;
}
.order_manager .help_description a:hover{
  color: #00CC00;
  text-decoration:none;
  border-bottom: 1px dotted #00CC00;
}

.order_manager .clients_list_table{
  border-collapse:collapse;
}
.order_manager .clients_list_table td{
  padding:0px 0px 0px 10px;
  border:#CCCCCC solid 1px;
  height:17px;
}


.order_manager .replace_client_tbl{
  border-collapse:collapse;
  margin:20px 0px 0px 0px;
}
.order_manager .replace_client_tbl td{
  
  padding:5px;
  border:#CCCCCC solid 1px;
  height:17px;
}

.order_manager .activities_form_field{
  float:left;
  border:#CCCCCC solid 0px;
  margin-right:85px;
}
.order_manager .activities_form_field span{
  float:left;
  width:20px;
}
.order_manager .cont_faces_field_add_btn{
  margin:-23px 0px 28px 30px;
}
.order_manager .cont_faces_field_delete_btn a{
  font-size:18px;
  text-decoration:none;
}


.order_manager .suppliers_rating_panel{
}
.order_manager .suppliers_rating_panel .rating_level{
   float:left;
   margin:0px 0px 0px 10px;
   position:relative;
}
.order_manager .suppliers_rating_panel .rating_level .upper_plank{
   position:absolute;
   top:0px;
   left:0px;
   overflow: hidden;
}

.order_manager .suppliers_rating_panel .ratings_num{
   float:left;
   margin:0px 10px 0px 10px;
}
.order_manager .suppliers_rating_panel .set_rating_btn{
   float:left;
   margin:0px 10px 0px 20px;
}


.order_manager .suppliers_rating_set_panel{
   margin:50px 0px 0px 40px;
}
.order_manager .suppliers_rating_set_panel .rating_level{
   margin:0px 0px 0px 0px;
}
.order_manager .suppliers_rating_set_panel .comment{
   margin:30px 0px 0px 0px;
}
.order_manager .suppliers_rating_set_panel .comment textarea{
   width:600px;
   height:100px;
   resize: vertical;
}
.order_manager .suppliers_rating_set_panel .set_rating_btn{
   margin:20px 0px 0px 0px;
}


.order_manager .rating_comments{
   float:left;
   width:500px;
   margin:20px 50px 0px 20px;
}
.order_manager .rating_comments .header{
   width:300px;
   padding:5px 0px 5px 0px;
   margin:0px 0px 0px 0px;
   border-bottom:1px solid #CCCCCC;
}
.order_manager .rating_comments .header .name{
   float:left;
   width:250px;
}
.order_manager .rating_comments .header .rate{
   float:right;
   width:50px;
}
.order_manager .rating_comments .comment{
   margin:15px 0px 40px 0px;
}
.order_manager .all_rating_comments{
   float:left;
   margin:20px 0px 0px 20px;
}
.agreement_setting_window{
   font-family: Arial, Helvetica, sans-serif;
   font-size:14px;
}
.agreement_setting_window .button{
   padding:8px 25px 8px 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-size:20px;
   cursor:pointer;
}
.agreement_setting_window .cap{
   font-size:16px;
   font-weight:bold
}
.agreement_setting_window .subsection{
   margin:10px 0px 10px 0px;
   /*font-style:italic;*/
   font-size:14px;
}
.agreement_setting_window .row{
   margin:8px 0px 8px 10px;
   font-size:14px;
}
.agreement_setting_window .prepayment_row{
   margin:8px 10px 8px 10px;
  
}
.agreement_setting_window .prepayment_row a{
   color:#333333; 
   padding:4px 4px 4px 20px;
   text-decoration:none;
   font-size:14px;
   font-weight:100;
   line-height:18px;
   display:block;
}
.agreement_setting_window .prepayment_row:hover{
   background-color:#CCCCCC;
}
.agreement_setting_window .add_requisits_link{
    margin:10px 0px 0px 0px;
}
.agreement_setting_window .add_requisits_link a{
    color:#9F9F9F;
}
.agreement_list_tbl{
  width:100%;
  border-collapse:collapse;
}

.agreement_list_tbl td{
  padding:6px;
  border:1px solid #BBBBBB;
  background-color:#FFFFFF;
}
.agreement_list_tbl .line td{
  padding:5px;
  background-color:#F5F5F5;
}
.agreement_list_tbl .cup_line_1 td{
  border-top:1px solid #BBBBBB;
  border-bottom:none;
  border-left:none;
  border-right:none;
  border:1px solid #BBBBBB;
  padding:2px 5px 5px 6px;
  color:#555555;
  font-style:italic;
  font-size:11px;
  font-weight:bold;
  
}

.agreement_list_tbl .cup_line_2 td{
  border-top:0px solid #BBBBBB;
  border-bottom:none;
  border-left:none;
  border-right:none;
  border:0px solid #BBBBBB;
  padding:2px 5px 5px 6px;
  color:#555555;
  font-style:italic;
  background-color:#EEEEEE;
  font-size:11px;
  font-weight:bold;
}


.agreement .cap{
   position:fixed;
   width:100%;
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
   padding: 6px;
   box-shadow: 0 0 8px -1px #555555;
   -moz-box-shadow: 0 0 8px -1px #555555;
   -webkit-box-shadow: 0 0 8px -1px #555555;
   font-family: Arial, Helvetica, sans-serif;
   font-size:14px;
}
.agreement .agreement_tpl{
   width:900px;
   margin:auto;
   font-family: Arial, Helvetica, sans-serif; /*"Times New Roman", Times, serif;*/
   font-size:14px;
   line-height:18px;
}
.agreement .agreement_tpl p.chap_title{
   text-align:center;
   font-size:15px;
   font-weight:bold;
}
.agreement .agreement_tpl p.requisites_tbl{
   width:80%;
}

.agreement .agreement_field{
   padding-top: 40px;
   height:1000px;
}
.areement_set_label{
   margin-top: 30px;
   cursor:pointer;
}
.areement_set_label:hover{
   text-decoration:underline;
}

 
.agreements_sub_razdel{
   background-color:#FFFFFF;
   min-height:400px;
   font:Arial, Helvetica, sans-serif;
   font-size:12px;
  
}
.agreements_sub_razdel .bookmarks{
   width:100%;
   border-bottom:1px solid #CCCCCC;
}
.agreements_sub_razdel .all_agreements_list{
   width:100%;
   border-bottom:1px solid #CCCCCC;
}
.agreements_sub_razdel .bookmarks .bookmark_init{
   float:left;
   width:150px;
   height:40px;
   border-right:1px solid #CCCCCC;
   padding:4px;
   background-color:#FFFFFF;
}

.agreements_sub_razdel .bookmarks .bookmark{
   float:left;
   width:150px;
   height:40px;
   border-right:1px solid #CCCCCC;
   padding:4px;
   background-color:#FFFFFF;
}
.agreements_sub_razdel .bookmarks .bookmark_active{
   float:left;
   width:150px;
   height:40px;
   border-right:1px solid #CCCCCC;
   padding:4px;
   background-color:#EEEEEE;
}

.agreements_sub_razdel .bookmarks .bookmark_init a{
   text-decoration:none;
   color:#000000;
}
.agreements_sub_razdel .bookmarks .bookmark_init a.basic{
   font-weight:bold;
}

.agreements_sub_razdel .bookmarks .bookmark_active a{
   text-decoration:none;
   color:#000000;
}
.agreements_sub_razdel .bookmarks .bookmark_active a.basic{
   font-weight:bold;
}

.agreements_sub_razdel .bookmarks .bookmark a{
   text-decoration:none;
   color:#AAAAAA;
}
.agreements_sub_razdel .bookmarks .bookmark a.basic{
   font-weight:bold;
}


.agreements_sub_razdel .bookmarks .bookmark a:hover{
   text-decoration:underline;
}

.agreements_sub_razdel .all_agreements .agreements_detail_init{
   float:left;
   width:150px;
   height:75px;
   border-right:1px solid #CCCCCC;
   padding:4px;
   background-color:#FFFFFFF;
}

.agreements_sub_razdel .all_agreements .agreements_detail{
   float:left;
   width:150px;
   height:75px;
   border-right:1px solid #CCCCCC;
   padding:4px;
   background-color:#FFFFFFF;
}

.agreements_sub_razdel .all_agreements .agreements_detail_active{
   float:left;
   width:150px;
   height:75px;
   border-right:1px solid #CCCCCC;
   padding:4px;
   background-color:#EEEEEE;
}

.agreements_sub_razdel .all_agreements .agreements_detail_init a{
   text-decoration:none;
   color:#000000;
}

.agreements_sub_razdel .all_agreements .agreements_detail_init a.basic{ 
   font-weight:bold;
}

.agreements_sub_razdel .all_agreements .agreements_detail_active a{
   text-decoration:none;
   color:#000000;
}
.agreements_sub_razdel .all_agreements .agreements_detail_active a.basic{
   font-weight:bold;
}

.agreements_sub_razdel .all_agreements .agreements_detail a{
   text-decoration:none;
   color:#AAAAAA;
}

.agreements_sub_razdel .all_agreements .agreements_detail a.basic{
   font-weight:bold;
}


.agreements_sub_razdel .all_agreements{
   border:0px solid #CC3300;
   display:none;
}

.agreements_sub_razdel .specification_list{
  display:none;
}
.agreements_sub_razdel .specification_tbl{
  border-collapse:collapse;
  border:1px solid #CCCCCC;
}
.agreements_sub_razdel .specification_tbl td{
  border:1px solid #CCCCCC;
  width:200px;
}

.requisites_choice .choice_display_tbl{
   width:500px;
   border-collapse:collapse;
   font-size:12px;
   font-family:Verdana, Helvetica, Arial,  sans-serif;
}

.requisites_choice .choice_display_tbl input[type=text]{
   border: #AAA solid 1px;
   width:67px;
   padding:2px 5px 2px 5px;
}


.requisites_choice .choice_display_tbl td{
   vertical-align:top;
   width:250px;
   padding: 0px 30px;
   border:0px solid #CCCCCC;
}
.requisites_choice .choice_display_tbl .close_btn, .client_requisites_tbl .close_btn{
   position:absolute;
   top:0px;
   right:2px;
}
.requisites_choice .choice_display_tbl .close_btn a, .client_requisites_tbl .close_btn a{
   text-decoration:none;
   font-size:20px;
   font-family:Arial
}
.requisites_choice .choice_display_tbl .close_btn a:hover{
   color:#CCCCCC;
}
.requisites_choice .choice_display_tbl .add_requisits_link{
    margin:10px 0px 0px 0px;
}
.requisites_choice .choice_display_tbl .add_requisits_link a{
    color:#9F9F9F;
}
.requisites_choice .choice_display_tbl .caption{
    margin:25px 0px 15px 0px;
	font-weight:bold;
	font-size:14px;
}
.requisites_choice .button{
   padding:8px 25px 8px 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-size:20px;
   cursor:pointer;
}
.requisites_choice .row{
   margin:8px 0px 8px -6px;
}
.requisites_choice .subsection{
   margin:10px 0px 10px 0px;
   /*font-style:italic;*/
   font-size:13px;
}

.specification{
  width:800px;margin:auto;
}
.specification p, .specification table td{
  font-family: Arial, Helvetica, sans-serif; /*"Times New Roman", Times, serif;*/
  font-size:16px;
  font-weight:bold;
  

}

.specification .terms{
  font-size:14px;
  line-height:18px;
  font-weight:100;
}

.specification .spec_tbl{
  border-collapse:collapse;
  border: #000000 solid 1px;
  table-layout:fixed;
}
.specification .spec_tbl td{
  border: #000000 solid 1px;
  padding:5px;
  font-size:14px;
  font-weight:100;
}
.specification .spec_tbl td.num{
  width:20px;
}
.specification .spec_tbl td.name{
  width:510px;
}
.specification .spec_tbl td.quantity{
  text-align:center;
  width:80px;
}

.specification .spec_tbl td.price{
  border-right: #000000 solid 0px;
  padding:5px 2px 5px 5px;
  text-align:right;
  width:80px;
}
.specification .spec_tbl td.currensy{
  border-left: #000000 solid 0px;
  padding:5px 3px 5px 0px;
  text-align:left;
  width:15px;
}
.specification .spec_edit_plank{
  border-collapse:collapse;
  border:none;
  width:800px;
}
.specification .spec_edit_plank td{
  padding:0px;
}

.specification .spec_edit_plank input{
  margin:0px 0px 5px 0px;
  cursor:pointer;
}

.specification  .spec_tbl .bold_font td{
  font-weight:bold;
}

.specification .town_date_tbl{
  border-collapse:collapse;
  border: #FFFFFF solid 0px;
}

.specification .town_date_tbl td{
  border: #FFFFFF solid 0px;
}

.specification .requisites_tbl{
  border-collapse:collapse;
  border: #FFFFFF solid 0px;
  page-break-inside: avoid;
}

.specification .requisites_tbl td{
  border: #FFFFFF solid 0px;
  padding:5px;
  font-size:14px;
  font-weight:100;
}

.specification  .requisites_tbl .bold_font td{
  font-weight:bold;
}

.cont_faces_delete_btn{
	margin:0px 0px 0px 0px;
  /*margin:10px 0px 0px 200px;*/
}
.cont_faces_delete_btn a{
	float:left;
	margin:0 20px 0 0;
	margin-left:14%;
 /* padding:2px 10px 2px 10px;
  color:#eee;
  font-weight:bold;
  font-size:12px;
  text-decoration:none;
  background-color:#888;
  background: linear-gradient(to top, #888, #bbb);
  border: #777  solid 2px; 
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;*/
}
.cont_faces_delete_btn a:hover{
	text-decoration:none;
 // background: linear-gradient(to top, #999, #ccc);
  //border: #888  solid 2px; 
}

.edit_base_bar{
  margin:0px 0px 0px 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#000000;
}
.edit_base_bar a{
  font-size:12px;
  /*text-decoration:none;*/
  color:#000000;
}
.info_white{
	/*background:white;*/
	padding:5px;
}
#dialog_window_minimized_container .minimize_black{
   background: #919191; /* Old browsers */
background: -moz-linear-gradient(top,  #919191 0%, #4c4c4c 50%, #4f4f4f 52%, #494949 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919191), color-stop(50%,#4c4c4c), color-stop(52%,#4f4f4f), color-stop(100%,#494949)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #919191 0%,#4c4c4c 50%,#4f4f4f 52%,#494949 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #919191 0%,#4c4c4c 50%,#4f4f4f 52%,#494949 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #919191 0%,#4c4c4c 50%,#4f4f4f 52%,#494949 100%); /* IE10+ */
background: linear-gradient(to bottom,  #919191 0%,#4c4c4c 50%,#4f4f4f 52%,#494949 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
color:#000;
}

#dialog_window_minimized_container .minimize_red{
background: #dd1a1a; /* Old browsers */
background: -moz-linear-gradient(top,  #dd1a1a 0%, #aa220d 31%, #aa220d 31%, #a80808 50%, #93251d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd1a1a), color-stop(31%,#aa220d), color-stop(31%,#aa220d), color-stop(50%,#a80808), color-stop(100%,#93251d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dd1a1a 0%,#aa220d 31%,#aa220d 31%,#a80808 50%,#93251d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dd1a1a 0%,#aa220d 31%,#aa220d 31%,#a80808 50%,#93251d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dd1a1a 0%,#aa220d 31%,#aa220d 31%,#a80808 50%,#93251d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #dd1a1a 0%,#aa220d 31%,#aa220d 31%,#a80808 50%,#93251d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1a1a', endColorstr='#93251d',GradientType=0 ); /* IE6-9 */
color:#BBB7B7;
}
#dialog_window_minimized_container .minimize_yellow{
   background: #dbc81a; /* Old browsers */
background: -moz-linear-gradient(top,  #dbc81a 0%, #e7ea12 46%, #ccc500 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbc81a), color-stop(46%,#e7ea12), color-stop(100%,#ccc500)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dbc81a 0%,#e7ea12 46%,#ccc500 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dbc81a 0%,#e7ea12 46%,#ccc500 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dbc81a 0%,#e7ea12 46%,#ccc500 100%); /* IE10+ */
background: linear-gradient(to bottom,  #dbc81a 0%,#e7ea12 46%,#ccc500 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbc81a', endColorstr='#ccc500',GradientType=0 ); /* IE6-9 */

}

#dialog_window_minimized_container .minimize_green{
   background: #21891a; /* Old browsers */
background: -moz-linear-gradient(top,  #21891a 1%, #33d110 46%, #12a000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#21891a), color-stop(46%,#33d110), color-stop(100%,#12a000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #21891a 1%,#33d110 46%,#12a000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #21891a 1%,#33d110 46%,#12a000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #21891a 1%,#33d110 46%,#12a000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #21891a 1%,#33d110 46%,#12a000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21891a', endColorstr='#12a000',GradientType=0 ); /* IE6-9 */
color:#3D2D2D;
}
#dialog_window_minimized_container .minimize_need_approval{
  background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
.reminder_info{
  position: absolute;
  background: #EEEEEE;
  padding: 0px 6px;
  border: 1px solid #D3D3D3;
  right: 36px;
}
.reminder_info:hover{
   border-color: #878987;
   cursor: pointer;
   background-color: #E0DADA;
}

#main_container input.saved,
#main_container input.submit_and_change_data_in_input,
#main_container input.stay_not_save,
#main_container textarea.saved,
#main_container textarea.submit_and_change_data_in_textarea_std,
#main_container textarea.stay_not_save{ background-color:#A9A9A9;}
/******************************************
      notification_center 
*******************************************/
div#apl-notification_center {
    position: fixed;
    width: 100%;
    min-width: 960px;
    z-index: 1000000;
    top: 0px;
    left: 0;
    overflow: hidden;
    /*background-color: red;*/
    /*height: 150px;*/
}
div#apl-notification_center li{
    color: #fff;
    position: relative;
    display: block;
    overflow: hidden;
    font: 15px 'Open Sans',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: top .5s ease-in-out,opacity .7s;
    -moz-transition: top .5s ease-in-out,opacity .7s;
    transition: top .5s ease-in-out,opacity .7s;
    top: -100px;
    opacity: 0;
    margin-bottom: 1px;
    padding: 8px 10px;
    padding-left: 30px;
}
div#apl-notification_center li.system_message{
    background-color: #ffc40d;
}
div#apl-notification_center li.error_message{
    background-color: red;
}
div#apl-notification_center li.successful_message{
    background-color: rgba(41, 171, 51, 0.95);
}
#calculate_table textarea{
	background: inherit;
}
div.showImgGalleryWindow{
	width: 23px;
    height: 12px;
    border: 1px solid #CECDCD;
    margin-left: 3px;
}
div.showImgGalleryWindow:after{
	position: absolute;
	width: 23px;
    height: 12px;
    color: #CECDCD;
    content: "img";
    margin-left: -11px;
    margin-top: -4px;
}
div.showImgGalleryWindow:hover{
	background:  #CECDCD;
	color: #898787;
	cursor: pointer;
}
div.showImgGalleryWindow:hover:after{
	color: #898787;
}
div#rt-gallery-images {
   max-height: 355px;
   overflow-x: hidden;
}
div#rt-gallery-images img{
   max-height: 150px;
   max-width: 150px;
}
div#rt-gallery-images ul li.rt-gallery-cont {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #f1f1f1;
    text-align: center;
    vertical-align: text-bottom;
}

div#rt-gallery-images ul li.rt-gallery-cont.checked{
   border: 1px solid #77AC78;
   border-radius: 4px;
}
/* марке адреса поиска в клиенте*/
.marker_where {
   text-decoration: none;
    font-size: 10px;
    margin-top: -1px;
    float: left;
    color: #C1C1C1;
    /* background: #fff; */
    /* border: 1px solid #C1C1C1; */
    /* padding: 1px 3px; */
    border-radius: 2px;
    height: 10px;
    line-height: 8px;
}
