@charset "utf-8";
/* CSS Document */

.priceManager .mainWinTbl{ width:100%; border-collapse:collapse;}
.priceManager .mainWinTbl td{ font-size: 14px;vertical-align:top; text-align:left; border:#ccc 1px solid;  }
.priceManager .deleteElementBtn{ font-size: 22px; line-height:17px ; vertical-align: bottom;color: #DDD;cursor:pointer }
.priceManager .pointer{ cursor:pointer }
.priceManager .leftMenuTd{ padding:10px 10px;}
.priceManager .subContentTd{ padding:10px 10px;}
.priceManager .menuItem{ color: #777; text-decoration:none}
.priceManager .currMenuItem{ color: #FF0000;}
.priceManager .commoMenuItem{ color: #777; text-decoration:none}
.priceManager .commoMenuCurrItem{ color: #FF9933;}
.priceManager .disclaimer{ position:absolute; top:40px; right:0px;color: #AAA;font-size: 11px;}

placesEditor
.priceManager .mainWinTbl{ width:100%; border-collapse:collapse;}

.tbl_edit_usl{border-collapse:collapse;}
.tbl_edit_us tr td{border:1px solid red; padding: 15px}