input, textarea, label{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;color:#3a3938;outline:none}
#cabinet_general_content{
	float: left;
    width: 100%;
    padding-top: 5px;
}
#cabinet_general_content table{
	width: 100%; border-collapse: collapse;
}
#cabinet_general_content table tr td,#cabinet_general_content table tr th{
	text-align: left; padding: 5px
}

#cabinet_general_content table tr th.invoice_num,#cabinet_general_content table tr td.invoice_num{text-align: center;}


.cabinet_general_content_row tr td{ font-size: 12px; border-bottom: 1px solid #e2e2e2; }

#cabinet_general_content table tr th{ background-color: #f1f1f1;font-size: 12px; height: 15px;  border-bottom: 1px solid #8b8a89;}
#cabinet_general_content table tr td table th{border-bottom: 1px solid #e2e2e2;height: 12px; background-color: #fff}
/*#cabinet_general_content .cab_position_div{
	float: left;
	width: 100%;
}*/
#cabinet_general_content table tr td.each_art{ 
	padding-top: 0;
	padding-left: 0;
	
}

.grey_row_style td,td.class_no_calc{
	background: #f1f1f1;
}
td.class_no_calc{
	color: red;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl tr.query_detail.grey_row_style td:nth-of-type(7){
	color: red;
}
#cabinet_general_content  table tr.cab_position_div td{ border:none; padding: 2px}
/*#cabinet_general_conten table trt .cab_position_div tr:hover td,*/
/*#general_panel_orders_t table trbl tr.position-row:hover td{ background-color: #f1f1f1; cursor: default;}*/
#cabinet_general_content  table tr.cab_position_div th:nth-of-type(1){ padding-left: 5px;width: 85px;}
#cabinet_general_content  table tr.cab_position_div td:nth-of-type(1){ padding-left: 5px;}
#cabinet_general_content  table tr.cab_position_div th:nth-of-type(2){/* width: 340px;*/}
#cabinet_general_content  table tr.cab_position_div th:nth-of-type(3){width: 60px;}
#cabinet_general_content  table tr.cab_position_div th:nth-of-type(4){width: 40px;  text-align: right;}
#cabinet_general_content  table tr.cab_position_div th:nth-of-type(5){width: 60px;}
#cabinet_general_content  table tr.cab_position_div th:nth-of-type(6){width: 60px;}
#cabinet_general_content  table tr.cab_position_div th:nth-of-type(7){width: 60px;}

#cabinet_general_content .cab_position_div td.change_ttn_number,
#cabinet_general_content .cab_position_div th.change_ttn_number{
	width: 120px; text-align: center;
}
.number_order{width: 82px;}
.cabinet_general_content_row tr th:nth-last-child(3){width: 100px; padding: 0}
.cabinet_general_content_row tr th:nth-last-child(2){width: 120px;padding: 0}
.cabinet_general_content_row tr th:nth-last-child(1){width: 120px;padding: 0}
#cabinet_general_content_row tr td:nth-last-child(3){font-size: 12px;}
#cabinet_general_content_row tr th:nth-last-child(2){width: 120px;padding: 0}
#cabinet_general_content_row tr th:nth-last-child(1){width: 150px;padding: 0}
.cabinet_general_content_row tr th:nth-of-type(2){width: 60px;padding: 0}

#cabinet_general_content  table tr.cab_position_div th:nth-last-child(3){width: 100px;padding: 2px}
#cabinet_general_content  table tr.cab_position_div th:nth-last-child(2){width: 120px;padding: 2px}
#cabinet_general_content  table tr.cab_position_div th:nth-last-child(1){width: 126px;padding: 2px}
#cabinet_general_content  table tr.cab_position_div th{ font-size: 10px;  background-color: #FAFAFA; font-weight: normal;text-align: left;  color: #727272}
#cabinet_general_content  table tr.cab_position_div td{ font-size: 13px; text-align: left;}

#cabinet_general_content .cabinett_row_show{
	background-color: #f1f1f1;
	background:#f1f1f1;
}
#cabinet_general_content .cabinett_row_show.show{
	background-image: url('../../skins/images/img_design/cabinet_2.png');
	background-position: 50%;
	background-repeat: no-repeat;
	background-color: #f1f1f1;
	width: 30px
}
#cabinet_general_content .cabinett_row_show.show:hover{
	background-color: #e2e2e2; 
	color: grey;
}
#general_panel_orders_tbl td.show_hide{
	width: 15px; 
	cursor: default;
}
.cabinett_row_hide,
.cabinett_row_hide_orders{ 
	float: left;
	width: 22px;
	height: 22px;
	background-position: 7px -1px;
	background-repeat: no-repeat;

}
#cabinet .orders_status_td_tbl .greyText{
	font-size: 13px;
    color: #017E46;
}
.query_detail{display: none}
#cabinet_general_content #general_panel_orders_tbl.query_tbl tr th:nth-of-type(5),
#cabinet_general_content #general_panel_orders_tbl.query_tbl tr th:nth-of-type(7),
#cabinet_general_content #general_panel_orders_tbl.query_tbl tr th:nth-of-type(8){
	text-align: right;
}

#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th:nth-of-type(1),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th:nth-of-type(2){
	text-align: left;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th:nth-of-type(3),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th:nth-of-type(4),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th:nth-of-type(5),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th:nth-of-type(6),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th:nth-of-type(7){
	text-align: right;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th:nth-of-type(3){width: 120px;}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.query_detail td:nth-of-type(3),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.query_detail td:nth-of-type(4),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.query_detail td:nth-of-type(5),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.query_detail td:nth-of-type(6),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.query_detail td:nth-of-type(7){
	text-align: right;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr td:last-of-type{
	width: 150px;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.order_head_row td:nth-of-type(9){
	width: 150px;
}

#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.order_head_row td:nth-of-type(8),
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.order_head_row td:nth-of-type(7){
	width: 100px;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.order_head_row td:nth-of-type(6){
	width: 100px;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.order_head_row td:nth-of-type(5){
	width: 120px;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.order_head_row td:nth-of-type(2){
	width: 50px;
}
/*#cabinet_general_content #general_panel_orders_tbl  tr.order_head_row.row_open td{

    box-shadow: inset 0 15px 15px  -17px #333 , inset 0 0px 0px  -15px ;
   
}*/
#cabinet_general_content #general_panel_orders_tbl  tr.order_head_row.row_open td table tr td{
	box-shadow: none;
	background: none;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.cab_position_div th{
	border-right: none;
}
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.query_detail:hover td{
	background: #F1F1F1;
}

#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr td .icon_comment_show,
#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr td .icon_comment_order_show{
	float: right;
}


#cabinet_general_content #general_panel_orders_tbl.query_tbl  tr.order_head_row td:nth-of-type(8){
	text-align: right;
}

.cabinett_row_hide,
.cabinett_row_hide_orders{
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-right: 1px solid #E2E2E2;
	content: "";
	position: absolute;
	width: 100%;
	min-width: 24px;
	margin-left: -5px;
	height: 100%;
	background: #f1f1f1;
	background-image: url('../../skins/images/img_design/cabinet_1.png');
	background-position: 50%;
	background-repeat: no-repeat;
	color: grey;
	top: -1px;
	/*padding-top: 25px;*/
	background-color: #e2e2e2;
}
.cabinett_row_hide.show,
.cabinett_row_hide_orders.show{
	background-image: url('../../skins/images/img_design/cabinet_2.png');
	background-color: #F7F7F7;

}
.cabinett_row_hide:hover,
.cabinett_row_hide_orders:hover{
	border-right:1px solid #bbbaba;
	background-color: #bbbaba;
 	border-top: 1px solid #B0AAAA;
 	border-bottom: 1px solid #B0AAAA;
 	z-index: 2;
}
.cabinett_row_hide.show:hover,
.cabinett_row_hide_orders.show:hover{
 	background-color:#E2E2E2;
 	border-top: 1px solid #B0AAAA;
 	border-bottom: 1px solid #B0AAAA;
 	z-index: 2;
}
.show_hide{background-color: #f1f1f1; position: relative;}
.payment_status_span{ padding: 5px}
.payment_date{width: 67px}
.buch_status_select select ,.select_global_status select{width: 100%}
.change_delivery_tir{ padding: 2px 5px 1px 5px; float: left; min-width: 20px; text-align: right;}
.go_to_position_card_link{color: #3C3D3C; text-decoration: underline;}
.go_to_position_card_link:hover{ color: #000; text-decoration: none;}
.variant_comments_dop{ color:#a1a1a1;}

/****************************************
		Раскраска статусов снаба
*****************************************/
td.on_calculation_8 {
	background-color: #f1f1f1;
}
td.calculate_is_ready_8{
	background-color: #92B73E;
}
td.in_calculation_8{
	background-color: #7EB6D8;
}

tr.cat_8 td {
  color: rgb(194, 194, 194);
  background-color: #F7F7F5;

}
.cat_8{
	display: none
}

#cabinet_general_content .cab_position_div tr .click_me_and_show_catalog{
	text-align: center;
	padding: 5px;
	border: 1px solid #f1f1f1;
}
.warning_message{
	padding: 5px;
}
.warning_message div{
	padding: 5px;
	border: 1px solid red;
	color: #FF0000;
}
.history_status_snab_1{
	color: #E4E4E4;
}
.cabinet_general_content_row tr td.history_1 {
	color: #C2C2C2;
	font-size: 20px;
}
.attach_the_manager,
.attach_the_manager_any,
.attach_the_client,
.take_in_operation,
.get_in_work{
	padding: 5px;
	border: 1px solid #ACBF82;
	cursor: default;
	/*float: left;*/
}


.attach_the_manager:hover,
.attach_the_manager_any:hover,
.attach_the_client:hover,
.take_in_operation:hover,
.get_in_work:hover{
	background-color: #BAD08B;
}
.row_close .attach_the_manager:hover,
.row_close .attach_the_manager_any:hover,
.row_close .attach_the_client:hover,
.row_close .take_in_operation:hover,
.row_close .get_in_work:hover{
	background-color: #E2E2E2;
}
.row_close .attach_the_manager,
.row_close .attach_the_client,
.row_close .attach_the_manager_any,
.row_close .take_in_operation,
.row_close .get_in_work{
	padding: 5px;
	border: 1px solid #E2E2E2;
	cursor: default;
	/*float: left;*/
}
.dop_grey_small_info.attach_the_manager_any,
.dop_grey_small_info.attach_the_manager_any_black{
	color: #000;
}


#chose_many_curators_tbl table,
#chose_manager_tbl table,
#chose_client_tbl table{
	width: 100%;
}
#chose_many_curators_tbl table tr td,
#chose_manager_tbl table tr td,
#chose_client_tbl table tr td{
	padding: 2px 0px 2px 5px;
	font-size: 12px;
}
#chose_many_curators_tbl table tr td:hover,
#chose_manager_tbl table tr td:hover, 
#chose_client_tbl table tr td:hover {
	background-color: #EDB4B4;
	cursor: default;
}

#chose_many_curators_tbl table tr td.checked,
#chose_manager_tbl table tr td.checked, 
#chose_client_tbl table tr td.checked{
	background-color: #A6CC8B;
	font-weight: bold;
	color: #fff;
}


.cabinet_general_content_row tr th{

}

#cabinet_general_content  #general_panel_orders_tbl th{
	background-color: #F1F1F1;
	border-right: 1px solid #BDBDBD;
	/*border-top: 1px solid #6d6e72;
	border-bottom: 1px solid #6d6e72;*/
	border-top: 1px solid #98A57B;
    border-bottom: 1px solid #E2E2E2;
	color: #767676;
	padding: 5px;
}

#general_panel_orders_tbl{
	font-size: 12px;
}
/*#general_panel_orders_tbl .order_head_row td{
    background-color: #c8db9e;
}
#general_panel_orders_tbl .order_head_row td {
    background: rgb(200, 219, 158);
}*/
.order_head_row.row_open td {
    background: rgb(200, 219, 158);
}
.order_head_row.row_close td {
    background: #F7F7F7;
}

#general_panel_orders_tbl .specificate_rows td{
	background-color: #e9f1ff;
}
#general_panel_orders_tbl .specificate_rows td .greyText a{
	color: #6d6e72;
}
#general_panel_orders_tbl .specificate_rows td  a{
	color: #3d3ddf;
	text-decoration: underline;
}

#general_panel_orders_tbl .specificate_rows td a:hover{
	text-decoration: none;
}
.orders_info{
	font-size: 12px;

}
#general_panel_orders_tbl .greyText,.otdel_name{
	color: #6d6e72;
	font-size: 11px;
}
#general_panel_orders_tbl .greyText.black{
	color: #6d6e72;
	font-size: 11px;
}
#general_panel_orders_tbl .greyText.get_requeried_expense_menu,
#general_panel_orders_tbl .order_status_chenge .greyText{
	font-size: 13px;
}
#general_panel_orders_tbl .redText{
	font-size: 12px;
	color: red;
	/*background-color: red;*/
	padding: 3px;
}
.orders_info a{
	color: #000;
}

.show_the_full_information{ 
	/*text-decoration: underline; */
	cursor: default;
}

.show_the_full_information:hover{ 
	text-decoration: none; 
}
.orders_info_punct{
	color: #a4a4a4;
}
.art_and_name{
	/*color: #767676;*/
}
.dop_teh_info{
	color: #d2d2d2;
	border: 1px solid #d2d2d2;
	padding: 5px;
	width: 75px;
}
.dop_teh_info.no_empty{
	background-color: #e8e8e8;
	color: #6d6e72;
}
.dop_teh_info:hover{
	background: #fff;
	cursor: pointer;
}
#cabinet_general_content #general_panel_orders_tbl tr.position-row{
	display: none;
}
#cabinet_general_content #general_panel_orders_tbl tr.position-row td,
#cabinet_general_content #general_panel_orders_tbl tr.specificate_rows td{
	border: 1px solid #e8e8e8;
}
#cabinet_general_content #general_panel_orders_tbl tr.position-row.position-row-production td{
	/*border-bottom: 1px solid #D1D1D1;*/
	border-top: 1px solid #D1D1D1;
}
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row td:nth-of-type(3){
	padding: 0;	
}
.icon_comment_order_show{
	position: absolute;
    margin-top: -18px;
    position: relative;
    margin: 0;
}
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row td.attach_the_client{
	padding: 5px;
	border:none;
	border-top: 1px solid #E2E2E2;
	cursor: default;
}
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row td.attach_the_client:hover{
	background-color: #BAD08B;
}
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.row_close td.attach_the_client:hover{
	background-color: #E2E2E2;
}
#chose_supplier_tbl tr td{
  padding: 2px 5px; /*cursor: default;*/
  cursor: pointer;
}
#chose_supplier_tbl tr td:hover{  color: #FFF;
  background-color: #92b73e; }

#chose_supplier_tbl tr td.checked{  background-color: #007036;color: #FFF;}
.green_inform_block{
	background-color: #c8db9e;
	color: #000;
	font-size: 12px;
	padding: 2px 5px;
}

.tz_text_edit{
  background: url('../images/img_design/tz_text_edit.png') no-repeat; 
  float: right; 
  margin:auto;
    width: 30px;
  height: 30px;
  background-position: 0px 2px;
  border: 1px solid #fff;
}
.tz_text_see{
  background: url('../images/img_design/tz_text_edit.png') no-repeat; 
  float: right; 
  margin:auto;
    width: 30px;
  height: 30px;
  background-position: 0px 2px;
  border: 1px solid #fff;
}
.tz_text_new{
  background: url('../images/img_design/tz_text_new.png') no-repeat; 
  float: right; 
  margin:auto;
    width: 30px;
  height: 30px;
  background-position: 0px 2px;
  border: 1px solid #fff;
}
#dialog_gen_window_form .container_form{
	padding: 5px;
}
#services_listing{
	width: 100%
}
#services_listing tr th{
	padding: 5px;
	text-align: left;
	color: #757575;
}
#services_listing tr td{ 
vertical-align: top;    
	border: 1px solid #E6E6E6; 
	padding: 5px;
}
#services_listing .title_dop_inputs_info{
	padding: 5px;
	color: #f4f4f4;
	font-weight: bold;
}
#services_listing{
	border-collapse: collapse;
}
#services_listing_each{
    width: 200px;
}
#services_listing_each ul{
	padding: 0;
    margin: 0;
    width: 200px;
}
#services_listing_each ul li{
	list-style: none;
}
.may_bee_checked,.calc_icon_chose{
  cursor: pointer;
}
.may_bee_checked:hover,.calc_icon_chose:hover{
  background-color: #f1f1f1;
}

.echo_price_uslug{
  float: right;
  width: 250px;
}

.echo_price_uslug span{
  float: left;
  min-width: 70px;
  padding-right: 5px
}
/*#dialog_gen_window_form .lili{
  padding: 3px
}*/
.lili_head{
  font-weight: bold;
}

.lili{
	padding-left: 26px;
    /*height: 25px;*/
    line-height: 25px;
    cursor: pointer;
}
.lili:hover{
	background-color: #f1f1f1;
}
.lili.checked,.lili:active{
	background-color: #BABABA;
}
#dialog_gen_window_form .lili.f_open{
  background-image: url('../images/img_design/open-closed-folder.png');
  background-repeat: no-repeat;
  background-position-y: -25px;
}

#dialog_gen_window_form .lili.for_one{
  background-image: url('../images/img_design/usluga_icon_for_all_one_red.png');
  background-repeat: no-repeat;
  /*background-position-y: -23px;*/
  
      background-position-y: 3px;
    background-position-x: 3px;
}

#dialog_gen_window_form .lili.for_all{
  background-image: url('../images/img_design/usluga_icon_for_all_one_green.png');
  background-repeat: no-repeat;
      background-position-y: 3px;
    background-position-x: 3px;
}
#dialog_gen_window_form .lili.f_close{
  background-image: url('../images/img_design/open-closed-folder.png');
  background-repeat: no-repeat;
  background-position-y: 0px;
}
#dialog_gen_window_form .lili.calc_icon{
  background-image: url('../images/img_design/calc_icon.png');
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-color: #f1f1f1;
}
#services_listing tr td .save_tz{ min-height: 150px;}
#services_listing tr td input[type="text"],
#services_listing tr td textarea{
	width: 90%;
	margin-bottom: 10px;
	margin-top: 10px;
}
.calculator_info{
	font-size: 10px; color: grey;
	padding: 15px 0;
}
#dop_input_json{
	display: none;
	/*display: block;*/
}
.delete_dop_input_for_admin{
	font-size: 11px;
	color: #F5A8A8;
}

table#general_panel_orders_tbl tr td.price_for_the_position:hover,
table#general_panel_orders_tbl tr td.change_supplier:hover,
table.cabinet_general_content_row tr td.select_global_status_paperwork:hover{
	background-color: #BBCE91;cursor: pointer;
}

#a_detailed_article_on_the_price_of_positions{
	border-collapse: collapse;    
	width: 100%;
}
#a_detailed_article_on_the_price_of_positions td,
#a_detailed_article_on_the_price_of_positions th{
	padding: 3px 5px;
}
#a_detailed_article_on_the_price_of_positions #itogo_order td{
	background-color: #C8D890;
	font-weight: bold;
}
#a_detailed_article_on_the_price_of_positions #itogo_order td div.minus{
	color: red;
	font-weight: normal;
	font-size: 12px;
}
#a_detailed_article_on_the_price_of_positions td.postfaktum{
	background-color: #E7E7E7;
}

#a_detailed_article_on_the_price_of_positions th{
	background-color: #C7C7C7;
    font-weight: normal;
    font-size: 11px;
    text-align: left;
}
#a_detailed_article_on_the_price_of_positions .itogo_for_position td{	
	background-color: #E7E7E7;
}
#a_detailed_article_on_the_price_of_positions tr.itogo_for_position td.postfaktum{	
	background: #C7C7C7;
}

#a_detailed_article_on_the_price_of_positions th:nth-of-type(2),
#a_detailed_article_on_the_price_of_positions th:nth-of-type(10){
	width: 350px;
}
.postfaktum_non_calculate{
	display: none;
}
#a_detailed_article_on_the_price_of_positions td.postfaktum.added_postfactum,
#a_detailed_article_on_the_price_of_positions #itogo_order td.added_postfactum_class,
#a_detailed_article_on_the_price_of_positions th.added_postfactum_class,
#a_detailed_article_on_the_price_of_positions td.added_postfactum_class,
#a_detailed_article_on_the_price_of_positions td .added_postfactum_class{
	background-color: #FFE1B5;
}
#a_detailed_article_on_the_price_of_positions tr.itogo_for_position_probel td{
	height: 30px;
}

.on_of{
	cursor: pointer;
	padding: 0px 3px;
    background-color: #A9CA37;
    font-weight: bold;
    font-size: 17px;
    color: #6F5B5B;
}
.on_of.minus{
	padding: 0px 7px;
    background-color: #D2E493;
    font-weight: bold;
    font-size: 17px;
    color: #6F5B5B;
}
.date_of_delivery_of_the_order,.approval_date,.date_of_delivery_of_the_specificate{
	width: 67px
}

.otdel_status{
	position: relative;
}
.otdel_status .performer_status{
	
}
.otdel_status .service_name{
	font-size: 11px;
    color: rgb(109, 114, 136);
}
#general_panel_orders_tbl .orders_status_td_tbl{
	padding: 0;
	vertical-align: top;
}
#cabinet_general_content  #general_panel_orders_tbl .orders_status_td_tbl table{
	height: 100%;
}
#cabinet_general_content  #general_panel_orders_tbl .orders_status_td_tbl table tr td{
	border:none;
}
#cabinet_general_content  #general_panel_orders_tbl .orders_status_td_tbl table tr td:nth-of-type(1){
	border-right: 1px solid #e8e8e8;	
}
.waits_products_div{
	display: none;
	padding-top: 5px;
}
.waits_products_div input{
	width: 65px;
}
.waits_products_div.show{
	display: block;
}

.performer_status select,.choose_statuslist_order_and_paperwork{
	width: 100%
}
.start_statuslist_uslugi{
	   width: 150px;
    height: 20px;
    border: 1px solid #AAAAAA;
    cursor: pointer;
	background-color: #F1F1F1;
}
.start_statuslist_uslugi:hover{
    border: 1px solid #AAAAAA;
    background-color: #D2D2D2;
}
#cabinet_general_content table#general_panel_orders_tbl tr.position-row-production{
	display: none; /*скрыть позиции*/
}
#cabinet_general_content table#general_panel_orders_tbl tr.order_head_row td{
	border-top: 1px solid #E2E2E2;
}
#cabinet_general_content table#general_panel_orders_tbl tr.position-row-production td{
	border: 1px solid #f1f1f1;
}

/*Подсветка строк при наведении*/
/*#cabinet_general_content table#general_panel_orders_tbl tr.position-row-production:hover td.show-backlight{
	background-color: #f1f1f1;
}*/
.js-modal_menu-maket_what,
.js-modal_menu-design_what{
	background-color: rgba(200, 219, 158, 0.44);
	    padding: 3px;
}
#cabinet_general_content table#general_panel_orders_tbl tr.position-row-production td.js-modal--tz-prodaction:hover,
#cabinet_general_content table#general_panel_orders_tbl tr.position-row-production td.position-row-production__service-name:hover,
.js-modal_menu-maket_what:hover,
.js-modal_menu-design_what:hover{
	background-color: #BBCE91;
	cursor: pointer;
	    /*padding: 3px;*/
}
.alert_class-red_service_status{
	background-color: rgba(255, 0, 0, 0.3);padding: 5px;
}
.alert_class-black_service_status{
	background-color: rgba(0, 0, 0, 0.52);padding: 5px;
	color: #fff;
}
.alert_class-black_service_status .service_name,
#cabinet .orders_status_td_tbl  .alert_class-black_service_status .greyText,
#cabinet_general_content #general_panel_orders_tbl .show-backlight.alert_class-black_service_status .greyText{
	color: #fff;
}
#dialog_gen_window_form .separation_container{
	background-color: #F9F9F9;
    padding: 2px;
    margin-bottom: 10px;
    border: 1px solid #ECECEC;
}
#dialog_gen_window_form .separation_container strong{
	padding: 5px;
}
#dialog_gen_window_form .separation_container .data_info{
	padding: 5px;
	background-color: #fff;
}
input.calendar_date_work,
input.calendar_date_ready{
	width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
}
 
.percentage_of_readiness.saved{
	background-color: #D4C28E;
}

.seat_number_film .greyText{
	padding: 0 5px
}
.seat_number{
	height: 100%;
    padding: 0 5px 0 0;
    border-right: 1px solid grey;
    font-size: 11px;
}
.seat_number_logo{
	min-width: 200px;
    font-size: 11px;
    color: #907474;
}
.linked_div{
	text-align: right;
}

#save_logotip_for_all_services_tbl{
	width: 100%;

}
#save_logotip_for_all_services_tbl tr td{
	padding: 5px;
}
#save_logotip_for_all_services_tbl tr td:nth-of-type(2){
	width: 150px;
}
#save_logotip_for_all_services_tbl tr td input[type="button"]{
	border: 1px solid #A5A5A5;
    border-radius: 0;
    background-color: #f1f1f1;
    padding: 4px;
    color: #000;
    cursor: pointer;
}
#save_logotip_for_all_services_tbl tr td input[type="button"]:hover{
	background-color: #CACACA;
}
#save_logotip_for_all_services_tbl .save_logotip_for_all_services{
	width: 100%;
	padding: 3px;
}
#js_location{display: none}
#dialog_gen_window_form .check_one_li_tag{
	list-style: none;
	padding: 0px;
	margin: 0;
}
#dialog_gen_window_form .check_one_li_tag li{
	padding: 3px 14px;
	cursor: pointer;
}

#dialog_gen_window_form .check_one_li_tag li.checked {
    background-color: #007036;
    color: #FFF;
}

.comment.table{
	width:100%;
}
.comment.table textarea{
	width:100%;
	height: 100px;
}

.buh_window{
	border-bottom: 1px solid #B1B1B1;
	padding: 8px 0px;
}
.buh_window span{
	margin-right: 15px;
}
.buh_window .date_return_width_specification_signed,
.buh_window .date_specification_signed,
.date_create_the_bill,
.date_payment_order{
	width: 83px;
	cursor: default;
}
.buh_window .for_price_the_bill,
.document_pp .payment_date,
.document_pko .payment_date,
.document_ttn .ttn_date,
.document_ttn .date_return{
	width: 85px;
}
.saved{
	background-color: #f1f1f1;
}

#cabinet_general_content table tr th.buh_uchet,
#cabinet_general_content table tr th.buh_uchet_for_spec,
#cabinet_general_content table tr th.buh_uchet_for_order{
	text-align: center;
}
#cabinet_general_content table tr td.buh_uchet,
#cabinet_general_content table tr td.buh_uchet_for_spec,
#cabinet_general_content table tr td.buh_uchet_for_order{
	background-image: url('../../skins/images/img_design/BUCH.png');
	/*background-position: 50%;*/
	background-position: 10px;
	background-repeat: no-repeat;
}

#cabinet_general_content table tr.order_head_row.row_open td.buh_uchet,
#cabinet_general_content table tr.order_head_row.row_open td.buh_uchet_for_spec,
#cabinet_general_content table tr.order_head_row.row_open td.buh_uchet_for_order{
	background-image: url('../../skins/images/img_design/BUCH_color.png');
	/*background-position: 50%;*/
	background-position: 10px;
	background-repeat: no-repeat;
}


.buh_uchet:hover,
.buh_uchet_for_spec:hover,
#cabinet_general_content .buh_uchet_for_order:hover{
	background-color: #E2E2E2;
    cursor: pointer;
}
.row_open .buh_uchet:hover,
.row_open .buh_uchet_for_spec:hover,
#cabinet_general_content .row_open .buh_uchet_for_order:hover{
	background-color: #BBCE91;
    cursor: pointer;
}
#cabinet_general_content table tr td.buch_status_select:hover{
	background-color: #D7E4FB;;
    cursor: pointer;
}
.tz_text_new {
    background: url('../images/img_design/tz_text_new.png') no-repeat;
    float: right;
    margin: auto;
    width: 30px;
    height: 30px;
    background-position: 0px 2px;
    border: 1px solid #fff;
    cursor: pointer;
}
.buch_comments{
	float: right;
    background: url('../../skins/images/img_design/tz_text_edit.png') no-repeat;
    margin: auto;
    width: 30px;
    height: 30px;
    background-position: 0px 2px;
    margin-top: -4px;
    cursor: pointer;
}

span.buch_comments.only_read {
    /*margin-right: 52px;*/
}
.button.usl_del{
	float: right;
	padding: 1px 5px 0 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: grey;
    cursor: pointer;
}
.del_pp,
.del_pko,
.del_ttn{
	padding: 1px 5px 0 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: grey;
    cursor: pointer;	
}
#container_from_the_bill{
	padding: 9px 0 3px;
}

#container_from_the_bill .container_from_the_bill,
#container_from_the_bill .container_from_the_payment{
	padding: 5px 0;
}

#container_from_the_bill .container_from_the_bill.deleted,
#container_from_the_bill .container_from_the_payment.deleted{
	color: #b1b1b1;
}

#add_the_bill_link,
#add_the_payment_order_link{
	margin-top: 11px;
}
#add_the_bill_link span,
#add_the_payment_order_link span{
	font-style: oblique;
	text-decoration: underline;
	cursor: pointer;
}
#add_the_bill_link span:hover,
#add_the_payment_order_link:hover{
	text-decoration: none;
}

.deleted_note{
	display: none;
}
.why_this_doc_deleted{
	/*cursor: pointer;*/
	color: rgba(255, 0, 0, 0.49);
}
#container_from_the_bill table {
	width: 100%;
}
#container_from_the_bill table tr td:nth-of-type(2) span{
	padding-left: 10px;	
}
.onlyread{
	border: 1px solid #f1f1f1;
	padding: 15px;
}
.deleted_bill_option{
	background-color: #b1b1b1;
}
#replace_the_dialog_window{
	float: right;
}

#buch_window_optional_buttons {
    text-align: right;
    padding-top: 15px;
}
#buch_window_optional_buttons button {
    margin-left: 15px;
}

#cabinet_general_content_row .check_show_me{
	display: none;
}
#cabinet_general_content_row .check_show_me.show{
	display: table-cell;
}
#tabs ul{
	border-top: 1px solid;
    padding: 13px 3px 10px 3px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #2f6439;
    background-color: #e2e2e4;
}
#tabs ul li{
	list-style: none;
    display: initial;
    cursor: pointer;
    padding: 9px;
    color: #5a5c61;
    border: 1px solid #2f6439;
    border-radius: 5px 5px 0 0;
        font-size: 10px;
}
#tabs ul li.checked{
	color: #000;
	border-bottom: 1px solid #fff;
	background-color:#fff; 
}
#tabs ul li:hover{
	background: #f4f4f4;
}
#tabs ul li.checked:hover{
	background: #fff;
}
.the_bill_is_ready{
	display: none;
}
button#add_pp,
button#add_pko,
button#add_ttn{
	margin-right: 20px;
	margin-top: 15px;
}
.document_pp_hidden,
.document_pko_hidden,
.document_ttn_hidden{
	display: none;
}
.document_pp,
.document_pko,
.document_ttn{
    padding: 7px 0px;
}
#export_in_order_div{
	position: fixed;
	display: none;
	bottom: 0;
	height: 100px;
	border-top: 2px dashed #898989;
	z-index: 101;
  	background: url(../images/img_design/apl_pattern.png);
  	width: 100%;
    left: 0;
    opacity: 0;
}
#create_the_order.checked{
    background: #AFAFAF;
    padding-left: 10px;
    padding-right: 10px;
}
#export_in_order_div ul{
	margin: 0 auto;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
#export_in_order_div ul li{
    list-style: none;
    display: inline;
    padding: 11px 60px 9px 60px;
    border: 3px solid #FFFFFF;
    background-color: #CD2328;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0 27px;

}
#cabinet_general_content table#general_panel_orders_tbl  table.curator_on_request tr td{
	border: none;
}
#cabinet_general_content #general_panel_orders_tbl tr.specificate_rows{
	display: none;
}
#cabinet_general_content table#general_panel_orders_tbl tr td.order_status_chenge{
    cursor: pointer;
}

#cabinet_general_content table#general_panel_orders_tbl tr td.order_status_chenge:hover{
    background-color: #BBD288;
}
div#cabinet_filtres {
    padding: 6px 9px;
    color: grey;
}
#cabinet_filtres_list ul {
    padding: 1px 1px;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
}

#cabinet_filtres_list ul li {
    display: table-cell;
    padding: 5px 5px 0px 5px;
    font-size: 14px;
    padding-right: 0;
    background-color: #C8DB9E;
    float: left;
    margin-right: 2px;
    border: 1px solid #B7B8BB;
}
#cabinet_filtres_list a.close {
    background-color: #B7B8BB;
    padding: 3px 9px;
    /* position: absolute; */
    margin-top: -6px;
    margin-left: 6px;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    text-decoration: none;
    float: right;
}
#cabinet_filtres_list a.close:hover {
    background-color: #939496;
}
.statuslist_film_photos{
	width: 100px;
}
.quick_bar_tbl td .quick_button_div .button.add.disabled {
    background-color: #BCBCBC;
}

#cabinet_general_content #general_panel_orders_tbl tr.specificate_rows td.class_background_red{
	background-color: rgba(255, 0, 0, 0.22);
}

#cabinet_general_content span.class_background_red{
	background-color: rgba(255, 0, 0, 0.22);
	padding: 5px;
    margin-top: 5px;
    float: left;
}

#cabinet_general_content #general_panel_orders_tbl tr.specificate_rows td.class_background_orange{
	background-color: rgb(255, 193, 129);
}

#cabinet_general_content span.class_background_orange{
	background-color: rgb(255, 193, 129);
	padding: 5px;
    margin-top: 5px;
    float: left;
}

#cabinet_general_content #general_panel_orders_tbl tr.specificate_rows td.class_background_yellow{
	background-color: rgb(245, 242, 141);
}

#cabinet_general_content span.class_background_yellow{
	background-color: rgb(245, 242, 141);
	padding: 5px;
    margin-top: 5px;
    float: left;
}
.seat_number_film,.designe_date_utv_maket {
    padding: 5px 0;
}

#a_detailed_article_on_the_price_of_positions input.change_price_in_for_postfactum_added_service {
    max-width: 100px;
}
#a_detailed_article_on_the_price_of_positions input.change_tirage_for_postfactum_added_service {
    max-width: 65px;
}
#dialog_gen_window_form textarea {
    width: 100%;
    min-height: 150px;
}
#cabinet select.machine_type {
    width: 111px;
}
select.production_userlist {
    width: 130px;
}

#cabinet .color_black_by_greyText_class .greyText{
	color: #000;
}
.btn_var_std {
    margin-left: 5px;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #e2e2e4;
    color: #e2e2e4;
}
.btn_var_std.checked {
    background-color: #c7c8ca;
    border-color: #c7c8ca;
    color: #000;
}
.size_card table tr th:nth-of-type(1),
.size_card table tr th:nth-of-type(2), 
.size_card table tr td:nth-of-type(2), 
.size_card table tr td:nth-of-type(1) {
    border-right: 5px solid #fff;
    padding: 5px;
    text-align: left;
}
.size_card table tr td:nth-of-type(2),
.size_card table tr td:nth-of-type(3) {
    text-align: center;
}
.size_card table tr th:nth-of-type(2),
.size_card table tr th:nth-of-type(3) {
    text-align: center;
}
.size_card{
	padding: 5px;
}
.size_card table {
    width: 250px;
    border: none;
    border-collapse: collapse;
}
.size_card table tr th {
    background-color: #F3F3F3;
    font-weight: normal;
    text-align: right;
    color: #5a5c61;
    font-size: 10px;
}
.size_card input.val_tirage_dop {
    width: 40px;
    text-align: center;
}
#change_pz_npz{
	padding-top: 10px;
}
#json_code_for_size{
	display: none;
}
input.get_size_table_read,
input.get_a_detailed_specifications {
    background: #ECECEC;
    border: 1px solid #FFFFFF;
    margin-top: 7px;
    color: #797979;
    cursor: pointer;
}
/* popup  */
.hint:after, .hint:before {
    position: absolute;
    opacity: 0;
    z-index: 90;
    pointer-events: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    bottom: 100%;
    /*left: 50%;*/
    right: 50%;
}
.hint:after {
    content: attr(data-hint);
    background: #435159;
    color: #fff;
    padding: 6px 8px;
    /*white-space: nowrap; *//* запрет переноса строки */
    border-radius: 4px;
    font: 11px Helvetica,Arial,sans-serif;
    text-transform: none!important;
    /*margin-left: -18px;*/
}
.hint_red:after {
    background-color: #F44F4F;
    color: #fff;
    right: 0%;
    min-width: 168px;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hint:before {
    content: '';
    background: 0 0;
    border: 6px solid transparent;
    z-index: 90;
    border-top-color: #435159;
    margin-bottom: -12px;
    /*margin-right: 50%;*/
    right: 50%;
}
.hint_red:before {
    border-top-color: #F44F4F;
}
.hint:hover:after, .hint:hover:before {
    opacity: 1;
    /*right: 0;*/
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}
.edit_tz_for_no_cat{
	background-image: url('../../skins/images/img_design/edit_ebale.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 28px;
	padding: 2px;
	border: 1px solid #fff;
	background-position: 2px 2px;
}
.command_for_edit_tz_for_no_cat{
	background-image: url('../../skins/images/img_design/warning.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px;

	border: 1px solid #fff;
	background-position: 1px 2px;
}
.edit_tz_for_no_cat:hover{
	background-position: -19px 2px;
}
.command_for_edit_tz_for_no_cat,
.edit_tz_for_no_cat{
	cursor: pointer;
}
.edit_tz_for_no_cat:hover,
.command_for_edit_tz_for_no_cat:hover{
	border: 1px solid #C7C7C7;
	border-radius: 3px;
}


.command_for_edit_tz_for_no_cat.checked{
	background-position: -22px 2px;
}
#edit_tz_no_cat_for_order_width_snab_and_admin,
#edit_tz_no_cat_for_order_width_snab_and_admin input{
	width: 100%;
}
#edit_tz_no_cat_for_order_width_snab_and_admin .row .cell{
	padding: 5px;
}
#edit_tz_no_cat_for_order_width_snab_and_admin .row .cell:nth-of-type(1){
	width: 300px;
}
#cabinet_general_content .filter_class{
	/*background-image: url('../../skins/images/img_design/filter_class_bg.png');*/
	background-position: top right;
	background-repeat: no-repeat;
}

#cabinet_general_content .filter_class:hover{
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
#cabinet_general_content .row_open .filter_class:hover{
	background-color: #BBCE91;
	cursor: pointer;
}
.men_in_order{
	width: 90%;
    padding: 1%;
}

#general_panel_orders_tbl.order_tbl tr th:nth-of-type(5),
#general_panel_orders_tbl.order_tbl .order_head_row  td:nth-of-type(5),
#general_panel_orders_tbl.order_tbl .position-row  td:nth-of-type(6),
#general_panel_orders_tbl.order_tbl .specificate_rows  td:nth-of-type(3){
	text-align: right;
}
#general_panel_orders_tbl.order_tbl tr th:nth-of-type(5){
	width: 80px
}
#general_panel_orders_tbl.order_tbl .position-row  td:nth-of-type(6){
	width: 15px;
}
#show_allArt {
	width: 15px;
}
#general_panel_orders_tbl .query_status{
	cursor: pointer;
}
#general_panel_orders_tbl .row_open .query_status:hover{
	background-color: #BAD08B;
}
#general_panel_orders_tbl .row_close .query_status:hover{
	background-color: #E2E2E2;
}
#chose_client_tbl table tr td#client_0{
	color: red;
}
#chose_many_curators_tbl #json_manager_arr{
	display: none;
}
table#general_panel_orders_tbl {
    border-bottom: 1px solid #E2E2E2;
}
.rt_href_click{
	cursor: pointer;
}
#cabinet_general_content .rt_href_click:hover{
	background: #E2E2E2;
}
#cabinet_general_content .row_open .rt_href_click:hover{
	background: #BAD08B;
}


#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class td:nth-of-type(8),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class td:nth-of-type(4),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class td:nth-of-type(5),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class td:nth-of-type(6),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class td:nth-of-type(7),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class td:nth-of-type(9),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class td:nth-of-type(10),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class td:nth-of-type(11){
	background-color: #BAD08B;
	cursor: pointer;
}

#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class.row_close td:nth-of-type(8),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class.row_close td:nth-of-type(4),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class.row_close td:nth-of-type(5),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class.row_close td:nth-of-type(6),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class.row_close td:nth-of-type(7),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class.row_close td:nth-of-type(9),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class.row_close td:nth-of-type(10),
#cabinet_general_content #general_panel_orders_tbl tr.order_head_row.hover_class.row_close td:nth-of-type(11){
	    background-color: #E2E2E2;
	    cursor: pointer;
}
#cabinet_general_content #general_panel_orders_tbl td.query_theme_and_comment{
	width: 250px;
	max-width: 250px;
}
.icon_comment_show{
	width: 35px;
    float: left;
    height: 19px;
}
.icon_comment_show:hover{
	/*background: red*/
}