/****************************************
		комментарии к запросам		
*****************************************/

.icon_comment_show,
.icon_comment_order_show{
	height: 29px;
	width: 36px;
	float: left;
	padding: 2px;
	cursor: default;
	border:1px solid transparent;
	background-image: url('../../skins/images/img_design/comment_icons.png');
	background-repeat: no-repeat;
	background-position-y: -7px;

	background-position-x: -3px;
}
.icon_comment_show:hover,
.icon_comment_order_show:hover{
	border:1px dashed #8b8a89;
}
.icon_comment_show.no_empty,
.icon_comment_order_show.no_empty{
	background-position-x: -57px;
}

.icon_comment_show.white,
.icon_comment_order_show.white{
	background-position-y: -67px;
}

.add_new_comment textarea{
	width: 100%;
	min-height:  150px;
}

.add_new_comment .comment.table .row .cell.comment_text{
	  vertical-align: baseline;
	  font-size: 12px;
}
.add_new_comment .comment.table .row .cell{ padding: 5px}
.add_new_comment .comment.table{ width: 100%}
.add_new_comment .user_name_comments{
	vertical-align: top;
 	padding-top: 15px;
  	width: 170px;
}
#add_new_comment_button{ float: right;}
#add_comments_of_query{
	border: 1px solid #e8e8e8;
    color: #e8e8e8;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    cursor: pointer;
}
#add_comments_of_query:hover{
	background-color: #e8e8e8;
	color: #000
}
#add_comments_of_query.loading{
	background-image: url(../images/img_design/preloader.gif);
	background-repeat: no-repeat;
	background-position: 50%;
}