#order_art_edit{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px}


#info_string_on_query{ background-color: #5a5c61; color: #fff;}

#info_string_on_query ul{ padding: 0; list-style: none; margin: 0}
#info_string_on_query ul li{ display: inline-block;padding: 5px 10px;}
#back_to_string_of_claim{ width: 32px; height: 100%; cursor: pointer; background: url('../../skins/images/img_design/back_art.png') no-repeat;}
#info_string_on_query ul li:nth-of-type(1){width: 32px;padding: 5px 0;  height: 6px;}
#info_string_on_query span{color:#a3a3a3;}

#button_standart_001{cursor: default; border-left: 1px solid #84868B; border-right: 1px solid #84868B;}
#button_standart_001:hover{ background-color:  #84868B; }
#button_standart_001:hover span{ color: #fff}

#number_position_and_type{ background-color: #c7c8ca; padding: 0 32px;}
#number_position_and_type ul{padding: 0; margin: 0; list-style: none}
#number_position_and_type ul li{ display: inline-block; padding: 5px 10px}
#number_position_and_type span{ color: #5a5c61; font-size: 10px}

#order_art_edit_content_table{width: 100%}
#order_art_edit_left{ width: 277px}
#order_art_edit_centr{}

#order_art_edit_content_table{padding: 10px 0}
#order_art_edit_content_table .cell.b_r{border-right: 1px solid #adacab}
#edit_option_content{padding: 0 10px}
#characteristics_and_delivery{ width: 100%}
#characteristics_and_delivery strong{ margin-left: 5px; text-decoration: underline;}
#characteristics_and_delivery .cell.b_r{border-right: 1px solid #adacab}
#characteristics_art{ margin-top: 10px}
#characteristics_art .table .row .cell{ padding: 5px}
#characteristics_art .table .row .cell:nth-of-type(1){color: #7E7F83;}
#technical_assignment{float: left; background-color: #cbcbcb; color: #5F5F5F; margin-top: 10px; margin-left: 15px; padding: 10px 15px}
#timepicker1{width: 35px;}
#datepicker1{width: 70px}
#fddtime .row .cell {padding:5px 0 5px 0;}
#fddtime input{ margin-left: 5px}
/*#btn_make_std,#btn_make_var,#btn_date_std,#btn_date_var*/
.btn_var_std{ margin-left: 5px; cursor: default; padding: 4px 10px; border:1px solid #e2e2e4; color:#e2e2e4;}
.btn_var_std.checked{ background-color: #c7c8ca; border-color: #c7c8ca; color:#000; }
#fddtime_rd{ width: 30px}
.input_disabled{ border:1px solid #c7c8ca; color:#c7c8ca; padding: 2px 1px}
#status_art_z{ float: right;}

#status_art_z div{color: #5a5c61; font-size: 10px;}
#status_art_z div span{color: #000; font-size: 12px; padding:5px 10px; margin-left: 5px; background-color: #cbdfa7}

#edit_variants_content{ padding: 0 10px}
#variants_name{ background-color:#cbdfa7; color: #5a5c61 }
#variants_name ul { padding: 0; margin: 10px 0 0 0; padding-left: 5px}
#variants_name ul li{ display: inline-block;padding: 5px 26px;}
#variants_name ul li:nth-of-type(1){ cursor: default;padding: 5px 10px; background: url('../../skins/images/img_design/plus_variant.png') no-repeat;}
#variants_name ul li:hover{  background-color: #B7CF8D; color: #000; cursor: default;}
#variants_name .checked,#variants_name .checked:hover{   background-color: #5A5C61;color: #fff}
#variants_dop_info{ padding: 15px 5px 10px 5px}
#variants_dop_info table{ width: 100%}
#variants_dop_info .tirage_var{width: 60px; padding: 0px 5px; text-align: right;}
#variants_dop_info .dop_tirage_var{width: 15px;padding: 0px 5px; text-align: right;}



#size_card{ width: 30%; min-width: 300px}
#variant_info table tr#variant_calc_itogo td{ background-color:#CBDFA7;}
#variant_info table tr#variant_calc_itogo td:nth-of-type(1){ font-weight: bold}

#variant_info table tr td{ padding: 5px}
#variant_info table tr th{ padding: 2px 5px}
#variant_info .table_spacer{ height: 10px}



#variant_info .row .cell table tr td input[type="text"]{background-color: #c7c8ca; border: none; text-align: right; width: 70px }
#variant_info #size_card table tr td:nth-of-type(3){ color: #5a5c61; font-size: 10px;}
#variant_info #size_card table tr td:nth-of-type(2){ color: #5a5c61; font-size: 10px;}
#variant_info #size_card table tr td:nth-of-type(4) input[type="text"]{ width: 50px;padding: 3px 5px}
#variant_info #size_card table tr td:nth-of-type(5) input[type="text"]{ width: 20px; padding: 3px 5px}

#variant_info{width: 100%}
#variant_info .cell{ vertical-align: baseline; padding: 5px 10px 5px 0}
#variant_info .row .cell table{width:100%; border:none;border-collapse: collapse}
#variant_info .row .cell table tr th{ background-color: #c7c8ca;  font-weight: normal; text-align: right;color: #5a5c61;
  font-size: 10px; }
#variant_info .row .cell table tr td{  text-align: right; }
#variant_info .row .cell table tr th:nth-of-type(2){min-width: 50px}
#variant_info .row .cell table tr th:nth-of-type(1){font-weight: bold; text-align: left; font-size: 12px; color:#000;padding-left: 15px}
#variant_info .row .cell table tr td:nth-of-type(1){text-align: left; padding-left: 15px}