#order_art_edit{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px}


#info_string_on_query{ background-color: #5a5c61; color: #fff;}

#info_string_on_query ul{ padding: 0; list-style: none; margin: 0}
#info_string_on_query ul li{ display: inline-block;padding: 5px 10px;}
#back_to_string_of_claim{ width: 32px; height: 100%; 
  cursor: pointer; background: url('../../skins/images/img_design/back_art.png') no-repeat;}

#info_string_on_query ul li:nth-of-type(1){width: 32px;padding: 5px 0;  height: 6px;}
#info_string_on_query span{color:#a3a3a3;}

#button_standart_001{cursor: default; border-left: 1px solid #84868B; border-right: 1px solid #84868B;}
#button_standart_001:hover{ background-color:  #84868B; }
#button_standart_001:hover span{ color: #fff}

#number_position_and_type{ background-color: #c7c8ca; padding: 0 32px;}
#number_position_and_type ul{padding: 0; margin: 0; list-style: none}
#number_position_and_type ul li{ display: inline-block; padding: 5px 10px}
#number_position_and_type span{ color: #5a5c61; font-size: 10px}

#order_art_edit_content_table{width: 100%}
#order_art_edit_left{ width: 277px; padding-left: 10px}
#order_art_edit_centr{
	vertical-align: baseline;
}

.sevrice_button_size_table{ padding-top: 15px}
#order_art_edit_content_table{padding: 10px 0}
#order_art_edit_content_table .cell.b_r{border-right: 1px solid #adacab}
#edit_option_content{padding: 0 10px}
#characteristics_and_delivery{ width: 100%}
#characteristics_and_delivery strong{ margin-left: 5px; text-decoration: underline;}
#characteristics_and_delivery .cell.b_r{border-right: 1px solid #adacab}
#characteristics_art{ margin-top: 10px}
#characteristics_art .table .row .cell{ padding: 5px}
#characteristics_art .table .row .cell:nth-of-type(1){color: #7E7F83;}
#technical_assignment{float: left; background-color: #cbcbcb; color: #5F5F5F; margin-top: 10px; margin-left: 15px; padding: 10px 15px}
#timepicker1,#edit_variants_content .timepicker2{width: 33px;}
#datepicker1,#edit_variants_content .datepicker2{width: 70px}
#fddtime .row .cell {padding:5px 0 5px 0;}
#fddtime input{ margin-left: 5px}
/*#btn_make_std,#btn_make_var,#btn_date_std,#btn_date_var*/
.btn_var_std{ margin-left: 5px; cursor: default; padding: 4px 10px; border:1px solid #e2e2e4; color:#e2e2e4;}
.btn_var_std.checked{ background-color: #c7c8ca; border-color: #c7c8ca; color:#000; }
#fddtime_rd,.fddtime_rd2{ width: 30px}
.input_disabled,#edit_variants_content .variant_info .size_card table tr td .input_disabled{ border:1px solid #c7c8ca; background-color: #fff; color:#c7c8ca; padding: 2px 1px}
#status_art_z{ float: right;}

#status_art_z div{color: #5a5c61; font-size: 10px;}
#status_art_z div span{color: #000; font-size: 12px; padding:5px 10px; margin-left: 5px; background-color: #cbdfa7}

#edit_variants_content{ padding: 0 10px}
#edit_variants_content .variant_content_block.archiv_opacity{ opacity: 0.5;  position: relative;}
#edit_variants_content .variant_content_block.archiv_opacity:before{  
  content: "Для редактирования выгрузите из архива.";
  width: 100%;
  float: left;
  background: red;
  height: 100%;
  /* height: 150px; */
  /* min-height: 100%; */
  position: absolute;
  opacity: 0.01;}
#variants_name{ background-color:#cbdfa7; color: #5a5c61 }
#variants_name table{border-collapse: collapse; width: 100%; margin: 10px 0 0 0;}
#variants_name table tr td{ padding: 0; margin:0; height: 20px}
#variants_name table tr td:nth-of-type(1){ /*padding-left: 30px*/ width: 25px}
#variants_name ul { padding: 0; margin: 0; /*padding-left: 5px*/}
#variants_name ul li{ display: inline-block;padding: 5px 26px;background-color: #BAD28E;}
#variants_name ul li#new_variant{  cursor: default;padding: 5px 10px; background: url('../../skins/images/img_design/plus_variant.png') no-repeat;}
/*#new_variant{ margin-left: -26px}*/
/*#variants_name #all_variants_menu li:nth-of-type(2){ margin-left: -3px}*/
#variants_name ul li:hover,#variants_name ul li#new_variant:hover{  background-color:#ACC283; color: #000; cursor: default;}
#variants_name .checked,#variants_name .checked:hover{   background-color: #5A5C61;color: #fff}
#variants_name ul li.osnovnoy{background-image: url('../images/img_design/draft_grey.png'); background-repeat: no-repeat;background-position: 88px 3px;}
#variants_name ul li.checked.osnovnoy{background-image: url('../images/img_design/draft_white.png'); background-repeat: no-repeat;}
#variants_name ul li.show_archive{opacity: 0.5}
.variants_dop_info{ padding: 15px 5px 10px 5px}
.variants_dop_info table{ width: 100%}
.variants_dop_info .tirage_var{width: 60px; padding: 0px 5px; text-align: right;}
.variants_dop_info .dop_tirage_var{width: 15px;padding: 0px 5px; text-align: right;}


.variant_status_sv{
  float: right;
  width: 5px;
  height: 24px;
  position: absolute;
  margin-left: 12px;
  margin-top: -5px;
  /* margin-top: 4px; */
}
#menu_for_variants_status{
   display: none; 
  position: absolute;
  background: rgb(255, 253, 253);
  /* padding: 5px; */
  border: 1px solid #f4f4f4;
  margin-left: -42px;
  width: 148px;
  float: left;
  padding-right: 30px;
  margin-top: 4px;
}
#menu_for_variants_status .menu_for_variants_status_menu_name{
  padding-left: 2%;
  width: 117%;
  padding-top: 3px;
  font-size: 12px;
  font-weight: bold;

}
#menu_for_variants_status ul li {
    padding: 8px 0px 8px 33px;
  width: 100%;
  /*background: red;*/
  background: none;
}
#menu_for_variants_status ul li:hover{
  background: rgb(224, 224, 224);
}

#menu_for_variants_status span.traffic_lights_green,#menu_for_variants_status span.traffic_lights_grey,#menu_for_variants_status span.traffic_lights_red{
  width: 20px;
  height: 20px;
  float: left;
    position: absolute;
  margin-left: -28px;
  margin-top: -4px;
}
#menu_for_variants_status span.traffic_lights_green span,#menu_for_variants_status span.traffic_lights_grey span, #menu_for_variants_status span.traffic_lights_red span{
    width: 14px;
    height: 14px;
    margin: 2px 0 0 2px;
    float: left;
    border-radius: 15px;
}

/*
////////////////////
*/
#menu_for_variants_status span.traffic_lights_green{
  border: 2px solid green;
}
#menu_for_variants_status span.traffic_lights_green span{
    border: 1px solid green;
}

#menu_for_variants_status span.traffic_lights_grey{
    border: 2px solid grey;
}
#menu_for_variants_status span.traffic_lights_grey span{
      border: 1px solid grey;
}

#menu_for_variants_status span.traffic_lights_red{
    border: 2px solid red;
}
#menu_for_variants_status span.traffic_lights_red span{
      border: 1px solid red;
}
/*
/////////////////////////*/



#choose_end_variant:hover #menu_for_variants_status{
  display: block;
}
.variant_status_sv.green{
  background: rgb(86, 190, 86);
}

.variant_status_sv.grey{
  background: rgb(208, 208, 208);
}

.variant_status_sv.red{
  background: rgb(255, 98, 98);
}


.size_card{ width: 30%; min-width: 300px}

.variant_info table tr.variant_calc_itogo td{ background-color:#CBDFA7;}
.variant_info table tr.variant_calc_itogo td:nth-of-type(1){ font-weight: bold}

.variant_info table tr td{ padding: 5px}
.variant_info table tr th{ padding: 2px 5px}
.variant_info .table_spacer{ height: 10px}

#variants_name ul #show_archive{float: right; padding: 0}
#variants_name ul #show_archive a{  padding: 5px 15px;float: right; color: #5a5c61; cursor: default;}
#variants_name ul li#choose_end_variant,#variants_name ul li#extract_from_archive{background-image: url('../images/img_design/choose_end_variant.png'); background-repeat: no-repeat; padding-left: 45px; float: right; background-position: 12px 0;}
.variant_info .row .cell table tr td .edit_row_variants{ 
	background: url('../images/img_design/edit_row_variants.png') no-repeat; 
	float: right; 
	margin:auto;
	  width: 30px;
  height: 30px;
  background-position: 0px 2px;
  border: 1px solid #fff;
}
.variant_info .row .cell table tr td .del_row_variants{ 
	background: url('../images/img_design/del_row_variants.png') no-repeat; 
	float: right; 
	margin:auto;
	  width: 30px;
  height: 30px;
  background-position: 5px 5px;
  border: 1px solid #fff;
}
.variant_info .row .cell table tr td .edit_row_variants:hover,.variant_info .row .cell table tr td .del_row_variants:hover{border-color: #E8E8E8;}

.variant_info .row .cell table tr td input[type="text"]{background-color: #c7c8ca; border: none; text-align: right; width: 70px }

.variant_info .size_card table tr td:nth-of-type(3){ color: #5a5c61; font-size: 10px;}
.variant_info .size_card table tr td:nth-of-type(2){ color: #5a5c61; font-size: 10px;}
.variant_info .size_card table tr td:nth-of-type(4) input[type="text"]{ width: 50px;padding: 3px 2px}
.variant_info .size_card table tr td:nth-of-type(5) input[type="text"]{ width: 20px; padding: 3px 2px}

.variant_info{width: 100%}
.variant_info .cell{ vertical-align: baseline; padding: 5px 10px 5px 0}
.variant_info .row .cell table{width:100%; border:none;border-collapse: collapse}
.variant_info .row .cell table tr th{ background-color: #c7c8ca;  font-weight: normal; text-align: right;color: #5a5c61;
  font-size: 10px; }
.variant_info .row .cell table tr th.del_cell,.variant_info .row .cell table tr th.edit_cell{width: 32px; text-align: center;}
.variant_info .row .cell table tr td{  text-align: right; }
.variant_info .row .cell table tr td:nth-of-type(2){  text-align: left; }
.variant_info .row .cell table tr th:nth-of-type(2){min-width: 50px;text-align: left;}
.variant_info .row .cell table tr th:nth-of-type(1){
  font-weight: bold; text-align: left; font-size: 12px; color:#000;padding-left: 15px}
.variant_info .row .cell table.calkulate_table tr th:nth-of-type(1){
  padding-left: 24px
}

.variant_info .row .cell table.calkulate_table tr th.type_row_calc_tbl,
.variant_info .row .cell table.calkulate_table tr td.type_row_calc_tbl{
    padding: 0;
  height: 21px;
}
.calkulate_table span{
  padding: 3px 2px 3px 5px;
  outline: none;
  border: 1px solid #fff;
}
.calkulate_table .edit_span{
  border: 1px solid #EAE6E6;
}
.calkulate_table .variant_calc_itogo span{border: 0px}

.wq_03{
  background: url('../../skins/images/img_design/wq_03.png') no-repeat; 
  width: 25px;
  float: left;
  height: 21px;
  background-position: 4px 2px;
  }
.add_usl:hover{ background-color:#BCBFC5; }
.add_usl{  height: 21px;
  float: left;
  padding-right: 15px;
  line-height: 22px;
  padding-left: 25px;
  background: url('../../skins/images/img_design/wq_03.png') no-repeat; 
  background-position: 4px 2px;
  cursor: pointer;
}
.variant_info .row .cell table tr td:nth-of-type(1){text-align: left; padding-left: 15px}
/* image block */
#articulusImagesBigImg .showImagegallery, #galleryWindowInArtPages .showImagegallery {
  position: absolute;
  display: none;
  top: 68px;
  left: 20px;
  width: 27px;
  height: 27px;
}
#articulusImagesPrevBigImg {
  float: left;
}
#articulusImagesPrevBigImg .carousel {
  max-width: 1080px;
  margin: 0px auto;
  width: 286px;
}
#articulusImagesPrevBigImg .carousel-block, #galleryWindowInArtPages .carousel-block {
  display: inline-flex;
  min-height: 60px;
}
#articulusImagesPrevBigImg img {
  margin: auto;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  max-height: 60px;
  max-width: 72px;
}
.carousel-button-left {
  float: left;
}
.articulusImagesArrow2 {
  height: 70px;
  background-repeat: no-repeat;
  background-position: 5px 25px;
  width: 18px;
  float: left;
  cursor: pointer;
}

#articulusImagesBigImg img {
  margin: auto;
}
#articulusImagesBigImg {
  text-align: center;
  margin-top: 30px;
  min-height: 286px;
  margin-bottom: 30px;
  float: left;
  display: flex;
  width: 100%;
  cursor: pointer;
}
#articulusImagesBigImg {
  text-align: center;
  margin-top: 30px;
  min-height: 286px;
  margin-bottom: 30px;
  float: left;
  display: flex;
  width: 100%;
  cursor: pointer;
}
#articulusImages {
  float: left;
  padding-top: 20px;
}
#articulusImagesMiniImg, #articulusImagesMiniImgGallery {
  float: left;
  margin-left: 5px;
}
#articulusImagesMiniImg .carousel, #articulusImagesMiniImg, #articulusImagesMiniImgGallery .carousel, #articulusImagesPrevBigImg .carousel {
  max-width: 1080px;
  margin: 0px auto;
  width: 286px;
}
.carousel-wrapper {
  margin: 0px 20px 0px 12px;
  overflow: hidden;
  position: relative;
}
.carousel-items {
  width: 10000px;
  position: relative;
}
#articulusImagesMiniImg .carousel-block, #articulusImagesMiniImgGallery .carousel-block {
  float: left;
  text-align: center;
  margin: 0 2px 0 0px;
  padding: 0px;
  cursor: pointer;
  border: 1px solid #fff;
}
#articulusImagesMiniImg .carousel-block img, #articulusImagesMiniImgGallery .carousel-block img {
  height: 35px;
  width: auto;
  float: none;
  margin: 0 auto;
}
#articulusImagesMiniImg .carousel-block {
  width: 36px;
  text-align: center;
}
.carousel-block {
  text-align: center;
  float: left;
  width: 76px;
  text-align: center;
  margin: 0 1px 0px 0px;
  padding: 0px;
  cursor: pointer;
  border: 3px solid #fff;
}