#ja--image-gallety-togle{
	position: absolute;
    float: left;
    width: 12px;
    height: 50px;
    /* background: red; */
    /* margin-left: -14px; */
    /*border-radius: 5px 0 0 5px;*/
    border-radius:  0 5px 5px 0;
    border: 1px solid #ADACAB;
    padding: 0 2px;
    margin-left: -18px;
    left: 0;
    margin: 0;
}

#ja--image-gallety-togle.hidden{
	position: absolute;
	width: 12px;
	height: 50px;
	/*background: red;*/
	/*border-radius:  0 5px 5px 0;*/
	padding: 0 2px;
    /*margin-left: -14px;*/
}
#ja--image-gallety-togle .triangle{
	border: 8px solid transparent;    
    float: left;
    position: absolute;
    margin-top: 16px;
    margin-left: -5px;
    border-right: 6px solid #C7C8CA;;
}

#ja--image-gallety-togle.hidden .triangle {
    border-left: 6px solid #C7C8CA;
    border-right:none;
    margin-left: 3px;
}
.getCalculatorMethod{
	width: 28px;
    height: 28px;
    float: left;
    position: absolute;
    /* background: red; */
    margin-left: -31px;
    /* border: 1px dashed #F3F3F3; */
    margin-top: -4px;
    cursor: pointer;
    background-image: url('../images/img_design/calc_icon.png');
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: 3px;
}
.getCalculatorMethod:hover {
    background-color: rgba(169, 204, 106, 0.42);
}
.js--button-out_ptice_for_tirage:hover,
.js--calculate_tbl-edit_percent:hover,
.js--button-out_ptice_for_tirage.for_in{
	background: #CBDFA7;
	cursor: pointer;
}
.js--calculate_tbl-edit_percent:hover span,
.js--button-out_ptice_for_tirage.for_in span{
	border-color: #CBDFA7;
}
.js--button-out_ptice_for_tirage.for_out {
    background-color: #E4E4E4;
}

#order_art_edit .greyText{
	font-size: 11px;
    color: #B3B3B3;
}

.calkulate_table tr td .for_in,
.calkulate_table tr td .for_out{
	display: none;
}

.calkulate_table tr td.for_in .for_in,
.calkulate_table tr td.for_out .for_out{
	display: block;
}
.edit_cell{
    min-width: 27px;
}

.variant_characteristics_and_delivery table{
    /*display: none;*/
    opacity: 0;
}