div.dialog_window  {font-size:12px;font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;color:#626060; line-height:18px;margin:0; position:relative; padding:0; width:100%; height:100%;}
#dialog_window_minimized_container {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.dialog_window_minimized .ui-icon {
  display: inline-block !important;
  position: relative;
  top: 3px;
  cursor: pointer;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.dialog_window_minimized {
  float: left;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 2px;
  display: none;
}
.ui-icon-minusthick {
  background-position: -62px -125px;
}
.ui-dialog-titlebar-minimize{
  float: right;
  margin-right: -7px;
  border: 1px solid lightgrey;
  background: #EEE;
}
.ui-dialog-titlebar-minimize .ui-icon{  
  width: 20px;
  height: 18px;
}
#cont-menu{position:absolute;float:left; background:#fff;z-index:9999;}
#cont-menu ul{  list-style: none;
  padding: 0;
  margin: 0;}
#cont-menu ul li{
  padding: 5px 10px;
  margin: 0;cursor: default;}
#cont-menu ul li:hover {
  background: #99C5DB;
}
.leter_div{ float: left; padding: 5px 7px; cursor: pointer; border: 1px solid lightgrey; margin-left: 5px}
.leter_div.check{ background-color: #51BD4E}

.yellow_t .ui-dialog-titlebar{ border-color: #D8E433; background: #D8E433;}
.red_t .ui-dialog-titlebar{ border-color: #E46233; background: #E46233;}
.green_t .ui-dialog-titlebar{ border-color: #51BD4E; background: #51BD4E;}
.black_t .ui-dialog-titlebar{ border-color: #868C85; background: #868C85;}
.need_approval_t .ui-dialog-titlebar{ border-color: #9ED0D2; background: #9ED0D2;}
.need_approval_t .mini_cap{ color:#222; border: #BBB solid 1px; background-color:#DDD;padding:0px 4px 1px 4px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.quote_t {
  background-color: #f1f1f1;
  padding: 2px 7px;
}
.quote_t_red{
  color:red;
  background-color: #f1f1f1;
  padding: 2px 7px;
}