#preloader_window_block{
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 50;
  opacity: 0.8;
  background-image: url(../images/img_design/preloader.gif);
  background-repeat: no-repeat;
  background-position: 50%;
}


#order_art_edit{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px}


#info_string_on_query{ background-color: #5a5c61; color: #fff;}

#info_string_on_query ul{ padding: 0; list-style: none; margin: 0}
#info_string_on_query ul li{ display: inline-block;padding: 5px 10px;}
#back_to_string_of_claim a{width: 32px;
  height: 24px;
  cursor: pointer;
  background: url('../../skins/images/img_design/back_art.png') no-repeat;
  /* float: left; */
  position: absolute;
  z-index: 3;
  /* top: 61px; */
  margin-top: -5px;
  background-position-x: 3px;}

#info_string_on_query ul li:nth-of-type(1){width: 32px;padding: 5px 0;  height: 6px;}
#info_string_on_query span{color:#a3a3a3;}

#button_standart_001{cursor: default; border-left: 1px solid #84868B; border-right: 1px solid #84868B;}
#button_standart_001:hover{ background-color:  #84868B; }
#button_standart_001:hover span{ color: #fff}

#number_position_and_type{ background-color: #c7c8ca; padding: 0 32px;}
#number_position_and_type ul{padding: 0; margin: 0; list-style: none}
#number_position_and_type ul li{ display: inline-block; padding: 5px 10px}
#number_position_and_type span{ color: #5a5c61; font-size: 10px}

#order_art_edit_content_table{width: 100%}
#order_art_edit_left{ width: 277px; padding-left: 10px}
#order_art_edit_centr{
	vertical-align: baseline;
}

.sevrice_button_size_table{ padding-top: 15px}
#order_art_edit_content_table{padding: 10px 0 150px 0}
#order_art_edit_content_table .cell.b_r{border-right: 1px solid #adacab}
#edit_option_content{padding: 0 10px}
#characteristics_and_delivery{ width: 100%}
#characteristics_and_delivery strong{ margin-left: 5px; text-decoration: underline;}
#characteristics_and_delivery .cell.b_r{border-right: 1px solid #adacab}
#characteristics_and_delivery .cell.left_bord{ padding-left: 15px; vertical-align: top}
#characteristics_and_delivery .cell.left_bord table tr td{padding: 5px}

#characteristics_art,#inform_for_variant{ margin-top: 10px}
#characteristics_art .table .row .cell,#inform_for_variant .table .row .cell{ padding: 5px}
#characteristics_art .table .row .cell:nth-of-type(1),
#inform_for_variant .table .row .cell:nth-of-type(1){color: #7E7F83;}


#technical_assignment{float: left; background-color: #cbcbcb; color: #5F5F5F; margin-top: 10px; margin-left: 15px; padding: 10px 15px}
#timepicker1,#edit_variants_content .timepicker2{width: 33px;}
#datepicker1,#edit_variants_content .datepicker2{width: 70px}
#fddtime .row .cell {padding:5px 0 5px 0;}
#fddtime input{ margin-left: 5px}
/*#btn_make_std,#btn_make_var,#btn_date_std,#btn_date_var*/
.btn_var_std{ margin-left: 5px; /*cursor: default;*/ padding: 4px 10px; border:1px solid #e2e2e4; color:#e2e2e4;}
.btn_var_std.checked{ background-color: #c7c8ca; border-color: #c7c8ca; color:#000; }
#fddtime_rd,.fddtime_rd2{ width: 30px}
.input_disabled,#edit_variants_content .variant_info .size_card table tr td .input_disabled{ border:1px solid #c7c8ca; background-color: #fff; color:#c7c8ca; padding: 2px 1px}
#status_art_z{ float: right;}

#status_art_z div{color: #5a5c61; font-size: 10px;}
#status_art_z div span{color: #000; font-size: 12px; padding:5px 10px; margin-left: 5px; background-color: #cbdfa7}

#edit_variants_content{ padding: 0 10px}
#edit_variants_content .variant_content_block.archiv_opacity{ opacity: 0.5;  position: relative;}
#edit_variants_content .variant_content_block.archiv_opacity:before{  
  content: "Для редактирования выгрузите из архива.";
  width: 100%;
  float: left;
  background: red;
  height: 100%;
  /* height: 150px; */
  /* min-height: 100%; */
  position: absolute;
  opacity: 0.01;}
#variants_name,#variants_name2{ background-color:#cbdfa7; color: #5a5c61 }
#variants_name table,#variants_name2 table{border-collapse: collapse; width: 100%; margin: 10px 0 0 0;}
#variants_name table tr td,#variants_name2 table tr td{ padding: 0; margin:0; height: 20px}
#variants_name table tr td:nth-of-type(1),#variants_name2 table tr td:nth-of-type(1){ /*padding-left: 30px*/ width: 25px}
#variants_name ul,#variants_name2 ul { padding: 0; margin: 0; /*padding-left: 5px*/}
#variants_name ul li,#variants_name2 ul li{ display: inline-block;padding: 5px 26px;background-color: #BAD28E;}
#variants_name ul li#new_variant,#variants_name2 ul li#new_variant2{  /*cursor: default;*/padding: 5px 10px; background: url('../images/img_design/plus_variant.png') no-repeat;}
/*#new_variant{ margin-left: -26px}*/
/*#variants_name #all_variants_menu li:nth-of-type(2){ margin-left: -3px}*/
#variants_name ul li:hover,#variants_name ul li#new_variant:hover, #variants_name2 ul li:hover,#variants_name2 ul li#new_variant2:hover{  background-color:#ACC283; color: #000; /*cursor: default;*/}
#variants_name .checked,#variants_name .checked:hover,#variants_name2 .checked,#variants_name2 .checked:hover{   background-color: #5A5C61;color: #fff}
#variants_name ul li.osnovnoy,#variants_name2 ul li.osnovnoy{background-image: url('../images/img_design/draft_grey.png'); background-repeat: no-repeat;background-position: 88px 3px;}
#variants_name ul li.checked.osnovnoy,#variants_name2 ul li.checked.osnovnoy{background-image: url('../images/img_design/draft_white.png'); background-repeat: no-repeat;}
#variants_name ul li.show_archive,#variants_name2 ul li.show_archive{opacity: 0.5}
.variants_dop_info{ padding: 15px 5px 10px 5px}
.variants_dop_info table{ width: 100%}
.variants_dop_info .tirage_var{width: 60px; padding: 0px 5px; text-align: right;}
.variants_dop_info .dop_tirage_var{width: 15px;padding: 0px 5px; text-align: right;}


.variant_status_sv{
  float: right;
  width: 5px;
  height: 24px;
  position: absolute;
  margin-left: 12px;
  margin-top: -5px;
  /* margin-top: 4px; */
}
#menu_for_variants_status{
   display: none; 
  position: absolute;
  background: rgb(255, 253, 253);
  /* padding: 5px; */
  border: 1px solid #f4f4f4;
  margin-left: -42px;
  width: 148px;
  float: left;
  padding-right: 30px;
  margin-top: 4px;
}
#menu_for_variants_status .menu_for_variants_status_menu_name{
  padding-left: 2%;
  width: 117%;
  padding-top: 3px;
  font-size: 12px;
  font-weight: bold;

}
#menu_for_variants_status ul li {
    padding: 8px 0px 8px 33px;
  width: 100%;
  /*background: red;*/
  background: none;
}
#menu_for_variants_status ul li:hover{
  background: rgb(224, 224, 224);
}

#menu_for_variants_status span.traffic_lights_green,#menu_for_variants_status span.traffic_lights_grey,#menu_for_variants_status span.traffic_lights_red{
  width: 20px;
  height: 20px;
  float: left;
    position: absolute;
  margin-left: -28px;
  margin-top: -4px;
}
#menu_for_variants_status span.traffic_lights_green span,#menu_for_variants_status span.traffic_lights_grey span, #menu_for_variants_status span.traffic_lights_red span{
    width: 14px;
    height: 14px;
    margin: 2px 0 0 2px;
    float: left;
    border-radius: 15px;
}

#edit_variants_content #variant_of_snab span.traffic_lights_green,#edit_variants_content #variant_of_snab span.traffic_lights_grey,#edit_variants_content #variant_of_snab span.traffic_lights_red{
  width: 17px;
  height: 17px;
  float: left;
 /*   position: absolute;
  margin-left: -28px;*/
  margin-left: 10px;
  margin-top: -4px;
}
#edit_variants_content #variant_of_snab span.traffic_lights_green span,#edit_variants_content #variant_of_snab span.traffic_lights_grey span, #edit_variants_content #variant_of_snab span.traffic_lights_red span{
    width: 7px;
    height: 7px;
    margin: 4px 0 0 4px;
    float: left;
    border-radius: 15px;
}

/*
////////////////////
*/
#menu_for_variants_status span.traffic_lights_green{
  border: 2px solid green;
}
#menu_for_variants_status span.traffic_lights_green span{
    border: 1px solid #92B73E;
    background-color: #92B73E;
}

#menu_for_variants_status span.traffic_lights_grey{
    border: 2px solid #E3E5E5;
}
#menu_for_variants_status span.traffic_lights_grey span{
      border: 1px solid #E3E5E5;
}

#menu_for_variants_status span.traffic_lights_red{
    border: 2px solid #F69679;
}
#menu_for_variants_status span.traffic_lights_red span{
      border: 1px solid #F69679;
}




#edit_variants_content #variant_of_snab span.traffic_lights_green{
  border: 1px solid #92B73E;
    margin-top: 2px;
  margin-bottom: 2px;
}
#edit_variants_content #variant_of_snab span.traffic_lights_green span{
    border: 1px solid #92B73E;
    background-color: #92B73E;
}

#edit_variants_content #variant_of_snab span.traffic_lights_grey{
    border: 1px solid #E3E5E5;
      margin-top: 2px;
  margin-bottom: 2px;
}
#edit_variants_content #variant_of_snab span.traffic_lights_grey span{
      border: 1px solid #E3E5E5;
    background-color: #E3E5E5;
}

#edit_variants_content #variant_of_snab span.traffic_lights_red{
    border: 1px solid #F69679;
      margin-top: 2px;
  margin-bottom: 2px;
}
#edit_variants_content #variant_of_snab span.traffic_lights_red span{
      border: 1px solid #F69679;
    background-color: #F69679;
}
/*
/////////////////////////*/



#choose_end_variant:hover #menu_for_variants_status{
  display: block;
  float: right;
}
.variant_status_sv.green{
  background: rgb(86, 190, 86);
}

.variant_status_sv.grey{
  background: rgb(208, 208, 208);
}

.variant_status_sv.red{
  background: rgb(255, 98, 98);
}


.size_card{ width: 30%; min-width: 300px}

.variant_info table tr.variant_calc_itogo td{ background-color:#CBDFA7;}
.variant_info table tr.variant_calc_itogo td:nth-of-type(1){ font-weight: bold}

.variant_info table tr td{ padding: 5px}
.variant_info table tr th{ padding: 2px 5px}
.variant_info .table_spacer{ height: 10px}

#variants_name ul #show_archive{float: right; padding: 0}
#variants_name ul #show_archive a{  padding: 5px 15px;float: right; color: #5a5c61; /*cursor: default;*/}
#variants_name ul li#choose_end_variant,#variants_name ul li#extract_from_archive{background-image: url('../images/img_design/choose_end_variant.png'); background-repeat: no-repeat; padding-left: 45px; float: right; background-position: 12px 0;}

.variant_info table tr td .edit_row_variants{ 
	background: url('../images/img_design/edit_row_variants.png') no-repeat; 
	float: right; 
	margin:auto;
	  width: 30px;
  height: 30px;
  background-position: 0px 2px;
  border: 1px solid #fff;
}
.variant_info table tr td .del_row_variants{ 
  background: url('../images/img_design/del_row_variants.png') no-repeat; 
  float: right; 
  margin:auto;
    width: 30px;
  height: 30px;
  background-position: 5px 5px;
  border: 1px solid #fff;
}
.calkulate_table  span.del_row_variants{ 
  background: url('../images/img_design/del_row_variants.png') no-repeat; 
  float: right; 
  margin:auto;
    width: 30px;
  height: 30px;
  background-position: 5px 5px;
  border: 1px solid #fff;
  padding: 0
}
.variant_info table tr td .edit_row_variants:hover,.variant_info table tr td .del_row_variants:hover{border-color: #E8E8E8;}

.variant_info table tr td input[type="text"]{background-color: #c7c8ca; border: none; text-align: right; width: 70px }

.variant_info .size_card table tr td:nth-of-type(3){ color: #5a5c61; font-size: 10px;}
.variant_info .size_card table tr td:nth-of-type(2){ color: #5a5c61; font-size: 10px;}
.variant_info .size_card table tr td:nth-of-type(4) input[type="text"]{ width: 50px;padding: 3px 2px}
.variant_info .size_card table tr td:nth-of-type(5) input[type="text"]{ width: 20px; padding: 3px 2px}

.variant_info{width: 100%}
.variant_info .cell{ vertical-align: baseline; padding: 5px 10px 5px 0}
.variant_info table{width:100%; border:none;border-collapse: collapse}
.variant_info table tr th{ background-color: #c7c8ca;  font-weight: normal; text-align: right;color: #5a5c61;
  font-size: 10px; }
.variant_info table tr th.del_cell,.variant_info table tr th.edit_cell{width: 32px; text-align: center;}
.variant_info table tr td{  text-align: right; }
.variant_info table tr td:nth-of-type(2){  text-align: left; }
.variant_info table tr th:nth-of-type(2){min-width: 50px;text-align: left;}
.variant_info table tr th:nth-of-type(1){
  font-weight: bold; text-align: left; font-size: 12px; color:#000;padding-left: 15px}
.variant_info table.calkulate_table tr th:nth-of-type(1){
  padding-left: 24px
}

.variant_info table.calkulate_table tr th.type_row_calc_tbl,
.variant_info table.calkulate_table tr td.type_row_calc_tbl{
    padding: 0;
  height: 21px;
}
.calkulate_table span{
  padding: 3px 2px 3px 5px;
  outline: none;
  border: 1px solid #fff;
}
.calkulate_table .edit_span{
  border: 1px solid #EAE6E6;
  background-color: #fff;
}
.calkulate_table .variant_calc_itogo span{border: 0px}

.wq_03{
  background: url('../../skins/images/img_design/wq_03.png') no-repeat; 
  width: 25px;
  float: left;
  height: 21px;
  background-position: 4px 2px;
  }
.add_usl:hover{ background-color:#BCBFC5; }
.add_usl{  height: 21px;
  float: left;
  padding-right: 15px;
  line-height: 22px;
  padding-left: 25px;
  background: url('../../skins/images/img_design/wq_03.png') no-repeat; 
  background-position: 4px 2px;
  cursor: pointer;
}
.variant_info .row .cell table tr td:nth-of-type(1){text-align: left; padding-left: 15px}
/* image block */
#articulusImagesBigImg .showImagegallery, #galleryWindowInArtPages .showImagegallery {
  position: absolute;
  display: none;
  top: 68px;
  left: 20px;
  width: 27px;
  height: 27px;
}
#articulusImagesPrevBigImg {
  float: left;
}
#articulusImagesPrevBigImg .carousel {
  max-width: 1080px;
  margin: 0px auto;
  width: 286px;
}
#articulusImagesPrevBigImg .carousel-block, #galleryWindowInArtPages .carousel-block {
  display: inline-flex;
  min-height: 60px;
}
#articulusImagesPrevBigImg img {
  margin: auto;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  max-height: 60px;
  max-width: 72px;
}
.carousel-button-left {
  float: left;
}
.articulusImagesArrow2 {
  height: 70px;
  background-repeat: no-repeat;
  background-position: 5px 25px;
  width: 18px;
  float: left;
  cursor: pointer;
}

#articulusImagesBigImg img {
  margin: auto;
}
#articulusImagesBigImg {
  text-align: center;
  margin-top: 30px;
  min-height: 286px;
  margin-bottom: 30px;
  float: left;
  display: flex;
  width: 100%;
  cursor: pointer;
}
#articulusImagesBigImg {
  text-align: center;
  margin-top: 30px;
  min-height: 286px;
  margin-bottom: 30px;
  float: left;
  display: flex;
  width: 100%;
  cursor: pointer;
}
#articulusImages {
  float: left;
  padding-top: 20px;
}
#articulusImagesMiniImg, #articulusImagesMiniImgGallery {
  float: left;
  margin-left: 5px;
}
#articulusImagesMiniImg .carousel, #articulusImagesMiniImg, #articulusImagesMiniImgGallery .carousel, #articulusImagesPrevBigImg .carousel {
  max-width: 1080px;
  margin: 0px auto;
  width: 286px;
}
.carousel-wrapper {
  margin: 0px 20px 0px 12px;
  overflow: hidden;
  position: relative;
}
.carousel-items {
  width: 10000px;
  position: relative;
}
#articulusImagesMiniImg .carousel-block, #articulusImagesMiniImgGallery .carousel-block {
  float: left;
  text-align: center;
  margin: 0 2px 0 0px;
  padding: 0px;
  cursor: pointer;
  border: 1px solid #fff;
}
#articulusImagesMiniImg .carousel-block img, #articulusImagesMiniImgGallery .carousel-block img {
  height: 35px;
  width: auto;
  float: none;
  margin: 0 auto;
}
#articulusImagesMiniImg .carousel-block {
  width: 36px;
  text-align: center;
}
.carousel-block {
  text-align: center;
  float: left;
  width: 76px;
  text-align: center;
  margin: 0 1px 0px 0px;
  padding: 0px;
  cursor: pointer;
  border: 3px solid #fff;
}

/********* ШАБЛОН  ПОЛИГРАФИЯ ******************/

#number_position_and_type .status_art_right_class{ float: right;}

#number_position_and_type .status_art_right_class div{color: #5a5c61; font-size: 10px;}
#number_position_and_type .status_art_right_class div span{color: #000; /*cursor: default;*/ font-size: 12px; padding:5px 10px; margin-left: 0px; }
#number_position_and_type ul li.status_art_right_class{padding-left: 0; padding-right: 0}

#number_position_and_type .status_art_right_class div span:hover{ background: #B1B3B6;}
#number_position_and_type .status_art_right_class.green div span{ background: #92b73e;}
#number_position_and_type .status_art_right_class.green div span:hover {background: #86AB33;}

#number_position_and_type .status_art_right_class.grey_border div span{ border-left: 1px solid grey; border-right: 1px solid grey;}


#number_position_and_type .status_art_right_class_pause,
#number_position_and_type .create_text_mail_for_supplier{ float: right;padding-left: 0; padding-right: 0}

#number_position_and_type .status_art_right_class_pause div,
#number_position_and_type .create_text_mail_for_supplier div{color: #5a5c61; font-size: 10px;}
#number_position_and_type .status_art_right_class_pause div span,
#number_position_and_type .create_text_mail_for_supplier div span{color: #000; /*cursor: default;*/ font-size: 12px; padding:5px 10px; margin-left: 0px; }


#number_position_and_type .status_art_right_class_pause div span:hover,
#number_position_and_type .create_text_mail_for_supplier div span:hover{ background: #B1B3B6;}
#number_position_and_type .status_art_right_class_pause.green div span,
#number_position_and_type .create_text_mail_for_supplier div span{ background: #92b73e;}
#number_position_and_type .status_art_right_class_pause.green div span:hover,
#number_position_and_type .create_text_mail_for_supplier div span:hover{background: #86AB33;}

#number_position_and_type .status_art_right_class_pause.grey_border div span{ border-left: 1px solid grey; border-right: 1px solid grey;}
/*#number_position_and_type ul li.status_art_right_class:nth-of-type(2){ background-color: none;}*/

.get_top_funcional_byttun_for_user_Html{ margin-top: 15px}







span.snab_comment {
  color: #9BD0FC;
}
#variant_of_snab{ }
#variant_of_snab table.show_table{ border-collapse: collapse; width: 100%}
#variant_of_snab table.show_table{display: table}
#variant_of_snab table.show_table tr td:nth-last-child(1) input{ width: 98%; padding: 0 1%;outline:none;}
/*#variant_of_snab .show_table tr td:nth-of-type(1) span{ padding:2px 5px; border:1px solid grey;}*/
#variant_of_snab table.show_table.show_table tr th{ background-color: #e8e8e8; font-weight: normal; font-size: 10px; color: grey; padding: 5px}
#variant_of_snab table.show_table tr td{  font-size: 10px;  padding: 5px; }



#variant_of_snab table.show_table tr th:nth-of-type(2),
#variant_of_snab table.show_table tr td:nth-of-type(2){text-align: left;}
#variant_of_snab table.show_table tr th:nth-of-type(3),
#variant_of_snab table.show_table tr td:nth-of-type(3){text-align: right;}
#variant_of_snab table.show_table tr th:nth-of-type(4),
#variant_of_snab table.show_table tr td:nth-of-type(4){text-align: center;}
#variant_of_snab table.show_table tr th:nth-of-type(5),
#variant_of_snab table.show_table tr td:nth-of-type(5){text-align: center;}
#variant_of_snab table.show_table tr th:nth-of-type(6),
#variant_of_snab table.show_table tr td:nth-of-type(6){text-align: right;}
#variant_of_snab table.show_table tr th:nth-of-type(7),
#variant_of_snab table.show_table tr td:nth-of-type(7){text-align: right;width: 350px;}
#variant_of_snab table.show_table tr th:nth-of-type(8),
#variant_of_snab table.show_table tr td:nth-of-type(8){text-align: center;}
#variant_of_snab table.show_table tr th:nth-of-type(9),
#variant_of_snab table.show_table tr td:nth-of-type(9){text-align: center;}
#variant_of_snab table.show_table tr th:nth-last-child(1),
#variant_of_snab table.show_table tr td:nth-last-child(1){text-align: left;}
#variant_of_snab table.show_table tr td:nth-last-child(1){text-align: left;color: #299EFF;}

#variant_of_snab table.show_table tr:hover{ background-color: #f4f4f4}
#variant_of_snab table.show_table tr .checked_row{background-color: #DAD9D9;}

#dialog_gen_window_form{display: none}
.delete_user_val{  padding: 0px 6px;
  font-size: 12px;
  color: red;
  border: 1px solid rgb(216, 216, 216);
  cursor: pointer;}
  .one_row_for_this_type{  padding: 5px;
  margin-top: 5px;}

.buttons_form{ padding-top: 10px;padding-bottom: 15px;}
.btn_add_var,.btn_add_val,.cancel_selection{padding:0 5px 2px 5px;
  border: 1px solid #f4f4f4;
  margin-right: 15px; cursor: pointer;
  margin-top: 15px;}
.btn_add_var:hover,.btn_add_val:hover,.cancel_selection:hover{
   background-color: #f4f4f4;
}
.pad{  padding-left: 30px;
/*  background: #f3f3f3;
  border: 1px solid grey;*/
  display: none;
}
.answer_table{
  width: 100%;
  border-collapse: collapse;
  font-size: 12px
}
.answer_table tr td{
  border:1px solid grey;
}

.variants_show_head_block{
  border: 2px solid #CBDFA7;
  border-radius: 5px;
  margin-top: 15px;
  padding: 0 10px;
}

.variants_show_head_block ul{padding: 0; margin: 0}
.variants_show_head_block ul li {display: inline-block;  padding: 5px 7px;}
.variants_show_head_block ul li:hover {background-color: #CBDFA7;/* cursor:default;*/}
.variants_show_head_block ul li.checked{background-color: #BAD28E;}

.dop_info_for_snab_calculate{ padding: 15px}
.variant_info .table_extended_info th{   background-color: #cbdfa7;
  color: #5a5c61; }
.variant_info .table_extended_info td{padding: 0}

#inform_for_variant_head{ font-weight: bold; text-decoration: underline;}
.edit_snab_comment,.change_srok{ min-height: 15px; border:1px solid grey; background: #fff; font-size: 12px; color: black; padding: 3px}
.edit_snab_comment.saved,
.save_comment_snab,
#inform_for_variant.saved,
.change_srok.saved,
.change_srok.save_work_days,
#inform_for_variant.save_no_cat_json{background-color: #e7e7e7;}

#variant_of_snab table.show_table tr:nth-child(even){ background-color: #F5FAFF;}

#variant_of_snab table.calkulate_table tr td:nth-last-child(1){ width: 35px}
#variant_of_snab table.calkulate_table tr td:nth-last-child(2){ width: 35px}
#variant_of_snab table.calkulate_table tr td:nth-last-child(3){ width: 80px}
#variant_of_snab table.calkulate_table tr td:nth-last-child(4){ width: 80px}
#variant_of_snab table.calkulate_table tr td:nth-last-child(5){ width: 150px}
#variant_of_snab table.calkulate_table tr td:nth-of-type(1){ width: 450px}

#variant_of_snab table.calkulate_table tr.calculate.calculate_usl td:nth-child(even){ background-color: #F5FAFF;}
#variant_of_snab table.calkulate_table tr.calculate.calculate_usl td.usl_del{ background: none;}
.change_supplier:hover{background-color: $f4f4f4; /*cursor: default;*/ color:#fff;}
#chose_supplier_tbl tr td{
  padding: 2px 5px; /*cursor: default;*/
}
#chose_supplier_tbl tr td:hover{  color: #FFF;
  background-color: #92b73e; }

#chose_supplier_tbl tr td.checked{  background-color: #007036;color: #FFF;}

.chenge_maket_date input{  width: 65px;}
.change_srok{ width: 25px}
.hidden_top_buttons{ display: none}
.text_for_send_mail{display: none;}

.may_bee_checked,.calc_icon_chose{
  cursor: pointer;
}
.may_bee_checked:hover,.calc_icon_chose:hover{
  background-color: #f1f1f1;
}

.echo_price_uslug{
  float: right;
  width: 250px;
}

.echo_price_uslug span{
  float: left;
  min-width: 70px;
  padding-right: 5px
}

#dialog_gen_window_form .lili{
  padding: 3px
}
.lili_head{
  font-weight: bold;
}
#dialog_gen_window_form .lili.f_open{
  background-image: url('../images/img_design/open-closed-folder.png');
  background-repeat: no-repeat;
  background-position-y: -25px;
}

#dialog_gen_window_form .lili.for_one{
  background-image: url('../images/img_design/usluga_icon_for_all_one.png');
  background-repeat: no-repeat;
  background-position-y: -23px;
}

#dialog_gen_window_form .lili.for_all{
  background-image: url('../images/img_design/usluga_icon_for_all_one.png');
  background-repeat: no-repeat;
  background-position-y: 0px;
}
#dialog_gen_window_form .lili.f_close{
  background-image: url('../images/img_design/open-closed-folder.png');
  background-repeat: no-repeat;
  background-position-y: 0px;
}
#dialog_gen_window_form .lili.calc_icon{
  background-image: url('../images/img_design/calc_icon.png');
  background-repeat: no-repeat;
  background-position-y: 0px;
}

.may_bee_checked.checked{
  background-color: grey
}