/* CSS Document */

#sample_menu_header{
	height:50px;
	border-bottom:2px solid #8b8a89;
	border-top: 1px solid #8b8a89;
	background:#f1f1f1;
}
#sample_menu_header ul{
	width:100%;
	margin: 11px 0 0 0%;
	border: 0 none;
	padding: 0;
	list-style: none;
	background: #003366;
	font: 12px/28px Verdana, Arial;
}
#sample_menu_header ul li{
	margin: 0 0% 0 1%;
	min-width:9%;
	border: 0 none;
	padding: 0 10px 3px 10px;
	float: left;
	display: inline;
	list-style: none;
	position: relative;
	height: 25px;
	text-align:center;
}
#sample_menu_header ul li:hover{
	background:#c9c8c9;
}
#sample_menu_header ul li a{	
	color: #7f7e7c;
	text-decoration:none;
}
#sample_menu_header ul li#checked{
	background:url(../images/img_design/bg_button_menu.gif);
}
#sample_menu_header ul li#checked a{	
	color: white;		
	font-weight:bold;
}
.sample_content_tables table{
	margin:10px 0 0 0;
	padding:0px;
	border-collapse: collapse; 
	border: 1px dashed #9f9e9d;
	/*border-top:1px dashed #9f9e9d;
	border-left:1px dashed #9f9e9d;*/
	width:98%;
	background:white;
	margin-left:1%;
	margin-right:1%;
	font: 12px Arial, Helvetica, sans-serif;
}
.sample_content_tables table:last-child{
	margin-bottom:10px;
}
#sample_content>#scroll_container{overflow-y: auto;
  background-color: #cccccc;}
#sample_content_head{
	margin-bottom:0px;	
	background:#D6D6D6;;
	border-bottom: 1px solid #9f9e9d;
}

#sample_content_head table{
	margin:0 0 0 0;
	padding:0px;
	border-collapse: collapse; 
	width:98%;
	margin-right:1%;
	background:white;
}
#sample_content_head table td{
	margin:0;
	padding:2px 2px 2px 5px;
	border-right:1px solid #E8E8E8;
	text-align:center;
	font: 11px Arial, Helvetica, sans-serif;
	font-weight:normal;
}
#sample_content_head table td:nth-of-type(1){
	border-right:1px solid white;
}
.row_for_table_driver input[type="text"]{
	width:80%;
	background:none;
	border:none;
	text-align:right;
	font-size: 12px;
}
.sample_content_tables table .sample_summ{
	text-align:right;
}
.sample_num_rows_unit{
	text-align:center;
}


.sample_content_tables table .sample_num_rows{
	text-align:center;
}
.sample_content_tables table .sample_num_rows_check, #sample_content_head .sample_num_rows_check{
	text-align:center;
	padding:3px; 
}
.sample_content_tables table .unit{
	text-align:center;
}
.sample_content_tables td{
	margin:0;
	padding:2px 2px 2px 5px;
	border-right:1px dashed #9f9e9d;
	border-bottom:1px dashed #9f9e9d;
	background:white;
	
}
#sample_content{
	padding-top:0px;
	padding-bottom:0;
	background:#ccc;
}
#sample_content .sample_note{
	margin:0;
	padding:0;
}
#sample_content .sample_note input{
	width: 98%;     
	height:100%;
	border:none;
	margin:0 1% 0 1%;
}
#sample_content tr td_pointer:hover{
	cursor:pointer;	
	background:#E8E8E8;
}
.list_samples{
	width:100%;
	border-collapse: collapse; 
	
}
.list_samples td{
	font-size:12px;
	border: 1px solid black;
	margin:0;
	padding:2px 2px 2px 5px;
	border-right:1px solid black;
	border-bottom:1px solid black;
	background:white;
	
}
.list_samples thead tr td{
	text-align:center;
	background:#CCCCCC;
}
.list_print{
	width:60%;
	margin-left:17%;
	border:1px solid black;
	padding:3%;
	background-color:white;
}
.button_on{
	border: 1px solid #9f9e9d; 
	color:white; 
	padding:1px;
	cursor:pointer;
	width:140px;
	margin:0 0 0 8%;
	background: rgb(0,147,88); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTM1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjc3NTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,147,88,1) 0%, rgba(34,119,80,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,147,88,1)), color-stop(100%,rgba(34,119,80,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,147,88,1) 0%,rgba(34,119,80,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,147,88,1) 0%,rgba(34,119,80,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,147,88,1) 0%,rgba(34,119,80,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,147,88,1) 0%,rgba(34,119,80,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009358', endColorstr='#227750',GradientType=0 ); /* IE6-8 */
}

.button_off{
	border: 1px solid #9f9e9d; 
	background:white; 
	color:grey; 
	padding:1px; 
	cursor:pointer;
	width:140px;	
	margin:6% 0 6% 8%;
}
/**** окно доставки  *****/
scrollbar{
    width:12px;
}
scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
scrollbar-track{
    border-width:0;
}
scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
#bg{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display:none;
	background-color: rgba(0, 0, 0, 0.4);
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	z-index: 9999;
}
.windows{
	position: fixed;
	left: 50%;
	top: 10%;
	background:#d6d6d6;
	border:1px solid black;
	width:60%;
	height:80%;
	overflow-x:hidden;
	margin-left:-30%;
	z-index: 10000;
	
}
.form_for_driver_header{
	background:#9dbe8e;
	position:absolute;
	top: 10%;
	width:60%;
	left: 50%;
	margin-left:-30%;
	margin-top:-25px;
	font-size:14px;
	font-weight:bold;
	color:black;
	padding:2px 0px 5px 0px;
	border:1px solid black;
}
.form_for_driver_header span{
		margin-left:10px;
}
.form_for_driver_header a{
	margin-right: 10px;
}
.form_for_driver_header a{
	color: #565656;
	float:right; cursor:pointer;	
}
.form_for_driver_header a:hover{
	color:#921517;
	text-decoration:underline;	
}
#form_for_driver_body{
	color:#4b4946;
	padding:10px;
}
.form_for_driver_table{
	width:100%;
	border: 1px dotted gray;
	border-collapse:collapse;
	background:#EFEFEF;
	margin-bottom:10px;
}
.form_for_driver_table td{
	padding:5px;
	font-size:12px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}
.form_for_driver_table td table td{
	padding:5px;
	font-size:12px;
	border:none;
}
.form_for_driver_table td table td input{
	background:#F2F2F2;
	border:1px dotted gray;
	text-align:center;
}
.check_button_sample_on{
	height:15px;
	padding:2px;
	width:110px;
	font-size:10px;
	font-weight:bold;
	border:1px solid #969696;
	cursor:pointer;
}
.check_button_sample_off{
	height:15px;
	padding-top:2px;
	width:110px;
	font-size:10px;
	font-weight:bold;
	background:#D6D6D6;
	border:1px solid #969696;
	cursor:pointer;
}
.check_button_sample_get{
	height:15px;
	padding-top:2px;
	width:80px;
	font-size:10px;
	font-weight:bold;
	background:#D6D6D6;
	border:1px solid #969696;
	cursor:pointer;
}
.check_button_sample_get_animate{
	background:url(../images/img_design/loading.gif) no-repeat;
	height:20px;
	width:20px;
	font-size:10px;
	margin:0 auto;
}
#tabs_change_get_samples_of_driver ul li a{
	height:15px;
	font-size:12px;
}
.time{
	display:none;
	margin-top:-130px;
	margin-left:-50px;
	position:absolute;
	padding:8px 5px 12px 5px;
	border:1px solid black;
	background:white;
	width:150px;
	font-size:12px;
	color:black;
}
.time div{
	
	text-align:center;
	width:35px;
	float:left;
	padding:2px 7px 0px 7px;
	margin:2px 0px 2px 0px;
}

.time div:nth-of-type(4), .time div:nth-of-type(5),.time div:nth-of-type(6),.time div:nth-of-type(10),.time div:nth-of-type(11),.time div:nth-of-type(12){
	background:#D6D6D6;
}
.time div:hover{
	cursor:pointer;
	background:#91C18D;
}

div.sample_content_tables table tbody tr td img{
	position:absolute;
	border:1px solid grey;
	display:none;
	margin-top:10px;
}
.td_togle{
	cursor:pointer;
}
.form_for_driver_table textarea{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border:1px solid grey;
	height:130px;
	font-size:12px;
}
.nearest_travel_date{
	text-align:center;
}
.marker_sytatus{
	position:absolute;
	margin:-2px 0 0 -15px;
	height:10px;
}
.c_on{
	cursor:pointer;
}
/** / END окно доставки  *****/
.quick_bar_tbl td.quick_button{
  width: 245px;
  height: 60px;
 /* padding:9px 0px 9px 7px;
  text-align:left;*/
}
